[2018-06-06 21:40] neomatrix369 opened #43 "Move the Build > Execute shell code-block of the Jenkins job into Github for all code-tool jobs"
The `Build > Execute shell` code-block all the `code-tools` jobs in Jenkins should be moved to a git-repo just like `openjdk-build`.  This puts the config in a version-controlled system and also opens it up to end-users to also build in their native environments.

This includes the below jobs under the [Dependencies](https://ci.adoptopenjdk.net/view/Dependencies/) tab:

- [ ] https://ci.adoptopenj

[2019-06-17 16:46] smlambert opened #46 "Trigger Docker builds from main build pipelines"
Currently Docker builds are triggered via a schedule separate from the main build pipelines.  This issue is to discuss whether we initiate those builds from the main build pipelines.

Related: https://github.com/AdoptOpenJDK/openjdk-tests/issues/773 - we currently trigger Docker image testing off of the main build pipelines, which is incorrect, as there may not be a new Docker image to test, if th

[2019-08-01 12:32] sxa opened #47 "macos/JDK8/hotspot failing with C code warning building klass.cpp"
JDK8 hotspot bulids failing with the following error. OpenJ9 and JDK11 unaffected
[code]
Ref: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-mac-x64-hotspot/334/console

[2020-10-15 19:08] AdamBrousseau opened #50 "Installer job node labels should be configurable"
**🆕🐥🐶 First Timers Only**

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

**👾 Description of the issue**
For the AdoptOpenJDK build we need some better configuration options for variables. Internally Groovy is used to executer parts of the CI bui

[2020-11-05 19:30] smlambert opened #9 "Add new releaseType called 'Weekly' 'Weekly without Publish'"
In order to accommodate more testing while conserving machine resources, I would like to introduce a weekly releaseType so that we can trigger a [Weekly test list](https://github.com/AdoptOpenJDK/openjdk-build/blob/master/pipelines/build/common/build_base_file.groovy#L75), different from the regular [nightly list](https://github.com/AdoptOpenJDK/openjdk-build/blob/master/pipelines/build/common/bui

[2020-12-06 16:05] M-Davies opened #32 "triggers is deprecated"
Features that impact the whole project (e.g. Adding a new OpenJDK distribution)are made over at the [TSC](https://github.com/AdoptOpenJDK/TSC/).

Otherwise, please describe what enhancement you would like to see in the build
scripts:

We use `triggers {}` for our [pipeline template](https://github.com/AdoptOpenJDK/openjdk-build/blob/master/pipelines/jobs/pipeline_job_template.groovy) which is now

[2020-12-07 13:33] M-Davies opened #7 "Compact openjdkxx-pipeline.groovy & jdkxx_regeneration_pipeline.groovy files into one file for each job"
Currently, we run our [job regenerators](https://ci.adoptopenjdk.net/job/build-scripts/job/utils/) from [separate files](https://github.com/AdoptOpenJDK/openjdk-build/blob/master/pipelines/build/regeneration/jdk8_regeneration_pipeline.groovy), with each file corresponding to one job. This is rather inefficient for making changes as most of the files are the same except for the `javaVersion` variab

[2020-12-09 15:13] AdamBrousseau opened #54 "Remove deprecated build parameter NODE_LABEL"
There is a build parameter for NODE_LABEL which I believe is no longer used as it seems to have been replaced with the equivalent one in the json BUILD_CONFIGURATION. From my testing it appears we can just clean this up as it isn't used. I'm happy to do the PR if there are no concerns but I don't have the rights to reconfig the jobs on the Adopt CI.

[2020-12-18 15:50] AdamBrousseau opened #55 "Jenkins: Allow docker based builds to use Docker login"
Many times, our docker based builds fail to pull the images because of rate limiting. If we had the option in the build config to do a docker login first, we could avoid this issue. Possibly another param called `DOCKER_CREDS`?

[code]

[2021-02-01 17:45] M-Davies opened #14 "Consider removing compile groovy TestCompilation.groovy"
**What are you trying to do?**
Test new changes with a reliable and easy to understand test suite that checks my code for syntax and compile issues

**Expected behaviour:**
Context stubs are easy to update and issues flagged by the test is easy to spot and fix

**Observed behaviour:**
https://github.com/AdoptOpenJDK/openjdk-build/blob/master/pipelines/src/test/groovy/TestCompilation.groovy
- The t

[2021-02-09 11:20] M-Davies opened #8 "Investigate moving waitForANodeToBecomeActive to JobHelper lib"
This would make the [node timeout logic](https://github.com/AdoptOpenJDK/openjdk-build/pull/2130) available across the whole build and even across downstream jobs that instantiate the jenkins helper (could be useful for https://github.com/AdoptOpenJDK/openjdk-build/issues/1773).

See https://github.com/AdoptOpenJDK/openjdk-jenkins-helper/pull/39/files for a previous addition to the JobHelper lib.

[2021-02-09 11:21] M-Davies opened #10 "Regenerator of regenerators"
A lot of fixes have been going into the job regenerators recently and I keep having to update them one by one which gets a little time consuming and annoying after a while (there's not a way I know of to "import" configs from other jobs). Similarly to the `build-pipeline-generator` and `pipeline_jobs_generator_jdkxx` jobs, it would be nice to have a job in [utils/](https://ci.adoptopenjdk.net/job/

[2021-02-09 11:22] sxa opened #11 "Pipeline status is meaningless"
Pipeline statuses at https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk15-pipeline/ currently showing green despite all but one of the [jobs under it](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk/) failing.

(I've got [a fix in for the current issue](https://github.com/AdoptOpenJDK/openjdk-build/pull/1563) as to why they're failing, but we really ought to propagate the sta

[2021-02-09 11:22] karianna opened #12 "Std pipeline view time left to complete build gets overridden and so Jenkins puts 0ms"
![piepline_0ms](https://user-images.githubusercontent.com/180840/66924428-8906f680-f022-11e9-901b-b636f9a956c9.png)

[2021-02-09 11:23] sxa opened #13 "Build pipelines are keeping too many builds"
Despite the following from :
[code]
We appear to be keeping far more builds than that in the pipelines:
[code]
This needs to be resolved as these have chewed up an additional 50Gb of space on the jenkins master node over the last week.

[2021-02-09 11:24] sxa opened #15 "Consider raising number of artefacts kept by build pipelines"
Current process is to disable nightly testing, but not buids, during a release cycle. For at least some pipelines, only one artefact is being kept. This means that it is highly likely that if any re-runs of test jobs are required which reference the upstream job, the artefacts will already have been removed from the individual jobs when a re-run is required, making it more complex to run the tests

[2021-02-09 11:25] andrew-m-leonard opened #16 "Really need a build pipeline "stalled" detector?"
Common problem is nightly/release builds get stalled because a vital node (eg.installer node) goes offline, and everything stalls until someone notices...?
Similarly sometimes the required selection of build nodes are all offline, or Agent failed...

Having a task that detects this, and Alerts on Slack to the situation would be useful?

[2021-02-09 11:26] andrew-m-leonard opened #17 "dockerBuild fails if node host user UID is not 1000"
In trying to create a dockerBuild node, discovered having created a jenkins user with uid=1001 that dockerBuild fails with ```
10:33:18   > git checkout -f ac64818c12047d4da21c4f7e833f5deff1a4101c # timeout=10
10:33:19  sh: /home/jenkins/workspace/build-scripts/jobs/jdk11u/jdk11u-linux-x64-openj9@tmp/durable-0ab7d979/jenkins-log.txt: Permission denied
10:33:19  sh: /home/jenkins/workspace/build-sc

[2021-02-09 17:14] smlambert commented on #15
+1 times 1000 on this request... especially valuable during release periods to be able to rerun stuff (before its published).

[2021-02-09 17:25] sxa commented on #15
@smlambert Of course the obvious concern with this is that with [HotSpot debug images being added soon](https://github.com/AdoptOpenJDK/openjdk-build/pull/2443) it will be even more of an increase to our space requirements :-)

[2021-02-09 17:28] smlambert commented on #15
Indeed, perhaps its configurable to default to keep 1, but during release builds keep 2 until we are through the week...

[2021-02-09 18:27] M-Davies opened #20 "Copy openjdk-build config over to this repo"
- [x] Could follow the procedure [here](https://medium.com/@dtinth/how-to-copy-github-labels-from-one-project-to-another-1857adc73e0f#:~:text=For%20each%20label%2C%20click%20the,And%20that's%20it.) for labels.
- [x] Create new/Move old [kanban board](https://github.com/AdoptOpenJDK/openjdk-build/projects/1)
- [ ] [Issue Templates](https://github.com/AdoptOpenJDK/openjdk-build/tree/master/.github/I

[2021-02-10 11:38] andrew-m-leonard commented on #15
Yes, I hit this issue during the last release once upstream logs dissappear, although it wasn't too difficult to update the reference to the pipeline artifact

[2021-02-10 17:29] lumpfish opened #24 "Add Build and Test Labels as a parameter to the build pipelines"
There is currently no way to tell a pipeline which node to run tests on.

There are tests which fail only on certain machines.  Having this capability would provide the means to check whether a particular machine is actually capable of running any test which might land on it (e.g. following the addition of a new machine or reconfiguration of an existing one) or to find exactly which tests are affe

[2021-02-10 19:31] M-Davies opened #26 "Update PR tester documentation"
The recent repo change and [updates to the PR tester](https://github.com/AdoptOpenJDK/ci-jenkins-pipelines/commit/3e9a1c91863b1699ced2bc27d6ca10f7d13313c0) mean that the documentation at https://github.com/AdoptOpenJDK/ci-jenkins-pipelines/blob/master/pipelines/build/prTester/README.md is now out of date. @gdams Can you look into updating it so it no longer contradicts your changes?

[2021-02-12 11:16] M-Davies opened #30 "Increase user flexibility regarding generation of filenames"
With the merge of AdoptOpenJDK/openjdk-build#2132 , user's have a lot more flexibility on what and where and how they can build Java binaries. However, the limiting factor at the moment are hardcoded filenames inside directories within the scripts. These will force user's who are looking to benefit from AdoptOpenJDK/openjdk-build#2132 to use our filenames without being able to pick their own. This

[2021-02-12 11:19] M-Davies opened #31 "Expand USE_ADOPT_SHELL_SCRIPTS to cover ALL scripts"
Spawned from conversation in https://github.com/AdoptOpenJDK/openjdk-build/pull/2132#discussion_r569422308

The existing `USE_ADOPT_SHELL_SCRIPTS` parameter will force the pipelines to always use Adopt's bash scripts. This could be expanded upon however to include the groovy scripts and parameters too

[2021-02-12 11:21] M-Davies opened #33 "NODE_LABEL should be more configurable"
**🆕🐥🐶 First Timers Only**

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

**👾 Description of the issue**
For the AdoptOpenJDK build we need some better configuration options for variables. Internally Groovy is used to executer parts of the CI bui

[2021-02-12 12:03] M-Davies opened #34 "Rename RepoHandler functions after code split"
The current layout was suited for openjdk-build and is confusing for even me to wrap my head around. This class needs adapting to it's new home

[2021-02-12 14:40] #20 closed

[2021-02-12 18:16] #26 closed

[2021-02-15 13:54] M-Davies commented on #7
Re-open for https://github.com/AdoptOpenJDK/ci-jenkins-pipelines/pull/35#issuecomment-779206679

[2021-02-16 12:35] #7 closed

[2021-02-18 17:09] karianna opened #44 "Extract build functionality from Jenkins Helper into Build Repo"
We will need to add a second lib to jenkins that does what we need https://ci.adoptopenjdk.net/configure "Global Pipeline Libraries"
the functions we use are `JobHelper.jobIsRunnable` and `NodeHelper.nodeIsOnline`

[2021-02-18 17:13] karianna opened #45 "Rename refactor_release_build job"
remove https://ci.adoptopenjdk.net/view/all/job/openjdk_release_tool/ and rename https://ci.adoptopenjdk.net/job/build-scripts/job/release/job/refactor_openjdk_release_tool/

We will need to update the name in the build scripts though

[2021-02-18 17:19] M-Davies commented on #47
@gdams Any movement on this?

[2021-02-18 17:27] andrew-m-leonard opened #48 "".1" re-release builds generate same artifact filenames as the release build"
When using the release pipeline build jobs and the optional field "Adopt build number" which you increment for re-release builds, the package filenames do not include the ".1", which could potentially be confusing for clients downloading and not thinking it's a new release...?

[2021-02-18 17:35] Willsparker opened #49 "Discuss removing source repositories after a build & recloning on a new build"
Currently, the builds will initially clone the repository and update it on future builds. Though this is more time efficient, it can cause issues ( ref: https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1169 , https://github.com/AdoptOpenJDK/openjdk-build/issues/1236 ).

Removing the repos after a build has finished (if it succeeds), is also more space efficient for the machines and wo

[2021-02-18 17:46] AdamBrousseau opened #51 "sign_build job should be more configurable"
Related/Similar AdoptOpenJDK/ci-jenkins-pipelines#50

https://github.com/AdoptOpenJDK/openjdk-build/blob/282058709909733381464dcb67b7f0d13dca4e13/pipelines/build/common/openjdk_build_pipeline.groovy#L226

The function for sign build has some hardcoded values which could be parameterized to make the scripts more portable.

#### Lables
https://github.com/AdoptOpenJDK/openjdk-build/blob/2820587099097

[2021-02-18 17:48] sxa opened #52 "Remove sanity.perf from JDK8 pipelines (and other stuff...)"
Splitting this out from [slack thread](https://adoptopenjdk.slack.com/archives/C5219G28G/p1604052862071800) on the subject

I've been doing some analysis on the performance of the overnight builds and there are some things which are causing notable slowdowns which we should consider removing from the daily runs.

One of the biggest issues is with platforms which do not have a JIT. Now that we have

[2021-02-18 17:51] adamfarley opened #53 "Build sub-job generation is not thread safe"
**What are you trying to do?**

Launch multiple test jobs at the end of a build.

**Expected behaviour:**

These jobs should be launched in a threadsafe manner, enabling them to load the libraries they need, and for the resultant jobs to find a suitable checks publisher.

**Observed behaviour:**

Once we enter the multi-threaded section of openjdk_build_pipeline.groovy, we become unable to load ne

[2021-02-18 17:52] karianna commented on #52
@smlambert for visibilty.

[2021-02-19 13:31] smlambert opened #58 "Auto-generate test jobs with a larger set of parameters"
In [openjdk_build_pipeline.groovy/runTests](https://github.com/AdoptOpenJDK/ci-jenkins-pipelines/blob/master/pipelines/build/common/openjdk_build_pipeline.groovy#L235), we [look for pre-created test job](https://github.com/AdoptOpenJDK/ci-jenkins-pipelines/blob/master/pipelines/build/common/openjdk_build_pipeline.groovy#L269) names, run tests if we find them, and [print warning](https://github.com

[2021-02-19 13:32] smlambert commented on #58
FYI @sophia-guo

[2021-02-19 15:40] M-Davies opened #59 "Expand the comment bot to include more meaningful information"
**👾 Description of the issue**
We currently have a [GitHub checks job](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-status-checks) that will place a comment in any new PR introduced into this repository ([link](https://github.com/AdoptOpenJDK/ci-jenkins-pipelines/blob/master/.github/workflows/comment-bot.yml)). The content of that comment is rather limited an

[2021-02-19 15:56] M-Davies opened #60 "Improve FOOBAR_FOLDER_PATH jenkins params"
Prior to https://github.com/AdoptOpenJDK/ci-jenkins-pipelines/pull/36, the [openjdk_pipeline.groovy](https://github.com/AdoptOpenJDK/ci-jenkins-pipelines/blob/master/pipelines/build/openjdk_pipeline.groovy) was split out between the version numbers. https://github.com/AdoptOpenJDK/openjdk-build/pull/2132 did not account for this new scenario and pulls files such as this by folder instead of by fil

[2021-02-19 18:54] AdamBrousseau commented on #58
Just wanted to note that in the OpenJ9 scripts we generate both the build and test jobs every run in order to pickup any changes that went in or override if someone has manually hacked a job on the UI. Generally the time cost is minimal but we have run into issues with dsl taking several minutes to complete. I think it's usually faster if you run the dsl on master.

I do like the idea of not regen

[2021-02-23 09:39] #34 closed

[2021-02-23 11:41] M-Davies opened #64 "PR tester failing"
Identified in https://github.com/AdoptOpenJDK/ci-jenkins-pipelines/pull/56

Looks like the issue is similar to https://github.com/AdoptOpenJDK/ci-jenkins-pipelines/pull/57#issuecomment-782045180
[code]
FYI @AdamBrousseau

[2021-02-23 12:48] #14 closed

[2021-02-25 14:39] sxa opened #66 "Determine whether OpenJ9 builds still need the `mingw-cygwin` label"
All of our machines should be configured the same so the [mingw-cygwin label](https://ci.adoptopenjdk.net/label/win2012&&mingw-cygwin&&build&&windows&&x64/) locks it onto the `ibmcloud` systems unnecessarily (in theory). We should verify whether the openj9 builds will run elsewhere (I think @Haroon-Khel has probably already verified the alibaba windows boxes)

[2021-02-25 22:08] #64 closed

[2021-03-01 13:26] adamfarley commented on #66
Have asked Haroon to confirm about the [alibaba machine](https://ci.adoptopenjdk.net/computer/build-alibaba-win2012r2-x64-1/) on Slack.

Running builds on the azure machines now.

[2021-03-01 13:26] Haroon-Khel commented on #66
As per @adamfarley's request, a fresh openj9 build on build-alibaba-win2012r2-x64-1
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-windows-x64-openj9/936/console

[2021-03-01 13:31] sxa commented on #66
@Haroon-Khel Isn't that the same test you've alreayd done that worked at https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1818#issuecomment-785190334?

[2021-03-01 13:35] Haroon-Khel commented on #66
Yes, I mentioned that in the slack thread. Wouldnt hurt to run another one though; more recent

[2021-03-01 13:41] adamfarley commented on #66
The only other two windows machines we could run on are the two azure machines. Here's a pair of jdk8 and jdk16 runs to check those:

build-azure-win2012r2-x64-1 (JDK16) - https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk16/job/jdk16-windows-x64-hotspot/57/
build-azure-win2012r2-x64-2 (JDK8) - https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x64-openj

[2021-03-01 18:55] AdamBrousseau opened #69 "Docker images used for building should be able to clone over ssh"
Some compiles run in Docker (eg xlinux centos6_build_image). I have a requirement to clone over ssh (git@github) but the container is missing ssh (possibly other deps). Can we add all the dependencies required to all the build images? I at least need them for all the OpenJ9 platforms which at the moment is xlinux, aarch linux and riscv linux.
centos6_build_image
centos7_build_image

[2021-03-01 18:56] smlambert opened #70 "Update nightly and weekly test lists"
As we have enabled testing for jdk16 and jdk17 and adding testing for some new platforms (see https://github.com/AdoptOpenJDK/openjdk-tests/pull/2304), revisit and adjust nightly and weekly test lists to suit the number of test jobs running on the set of test machines available.

Fix the case that sanity.external is being launched against some platforms that it should not be on (remove it from [he

[2021-03-01 19:45] AdamBrousseau opened #71 "All clones in a Jenkins build should support ssh protocol with credentials"
1. Cloning the OpenJ9 extensions repo. This is a blocker for me.
- There is a flag in [configureBuild.sh](https://github.com/AdoptOpenJDK/openjdk-build/blob/2e553357a834a2557d6379e47697ee20d52ee70f/configureBuild.sh#L175) that will swap the url but it proceeds assuming there is an ssh key on the machine. The pipeline groovy should wrap that step in an ssh-agent if a cred is supplied.

2. Cloning c

[2021-03-01 20:02] M-Davies commented on #71
[This is in place for the job generation](https://github.com/AdoptOpenJDK/ci-jenkins-pipelines/search?q=CHECKOUT_CREDENTIALS) but I'm unsure if that applies to ssh protocol or not. I assume we would need to add/alter the repositories map in the defaults.json to understand ssh url's if this is not the case

[2021-03-02 15:47] adamfarley commented on #66
Ok, results:

Azure machines: Builds and tests are green.
Alibaba machine: Build is green, handful of failures in the tests. Checking to make sure that there's nothing new.

[2021-03-02 16:06] sxa commented on #66
Presumably that was just with the build running on alibaba - the tests were still just running on whatever random machines they happened to land on?

[2021-03-02 16:08] adamfarley commented on #66
Yes. The Alibaba build was tested on test-ibmcloud-win2012r2-x64-1.

[2021-03-02 16:47] adamfarley commented on #66
Re-running the lang tests for the alibaba build on the machine that ran and passed the testing for the azure machines (which was, ironically, build-alibaba-win2012r2-x64-2).

https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/7366/console

[2021-03-04 11:32] adamfarley commented on #66
Ok, those all passed.

Looks to me like the sanity.openjdk tests *can* all pass on builds generated from the alibaba and azure machines, so the mingw label can be safely removed from the list of windows build requirements.

@Haroon-Khel - Your thoughts?

[2021-03-04 15:32] aahlenst opened #77 "Enable testing for Windows on ARM"
Prerequisites:

* https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1977
* https://github.com/AdoptOpenJDK/openjdk-tests/issues/2224

[2021-03-04 19:01] sxa opened #80 "crossCompile in pipelines cannot handle a variant map"
This:
https://github.com/AdoptOpenJDK/ci-jenkins-pipelines/commit/5b0dfc8ce128fc5190b65c39f9b4ed45cfa8d7a0#diff-cd68afc4fbcb6c7457170bc83490eb803243e4de6cfc3841de93d569cd475a74

Doesn't work and produces a job with a label targetting `build&&linux&&[openj9:x64]` because `crossCompile` can't handle a map - needs an adjustment of https://github.com/AdoptOpenJDK/ci-jenkins-pipelines/blob/6db2a82792a4

[2021-03-05 13:52] andrew-m-leonard opened #82 "Document "build-info" information that we currently have to aid "reproducable" builds"

[2021-03-05 14:10] #58 closed

[2021-03-05 14:27] smlambert opened #83 "Incorporate Smoke Tests for Build and Packaging into the Jenkins build pipelines"
Now we have tests in https://github.com/AdoptOpenJDK/openjdk-build/tree/master/test/functional/buildAndPackage, we should incorporate them into the Jenkins build pipelines.

They ideally should be run prior to runTests and should block the running of other tests (currently there is an outstanding failure in the smoke tests that should get fixed as we will block all testing if failures occur in the

[2021-03-05 15:11] smlambert opened #84 "Incorporate adoptium-packages-linux into Jenkins build pipelines"
This is a placeholder issue for initial incorporation of the adoptium-packages-linux work, based on the what @aahlenst has in https://github.com/aahlenst/adoptium-packages-linux. We would now like to be able to trigger build and test of these linux packages from Jenkins build pipelines.

As to where this gets triggered, see the diagram found in https://github.com/AdoptOpenJDK/TSC/issues/158#issuec

[2021-03-05 16:43] sophia-guo commented on #70
Just to confirm that if external tests would be limited to hotspot and openj9 and disable all other impl, e.g, corretto, dragonwell, bisheng?

[2021-03-05 16:51] smlambert commented on #70
Note that testing for alpine-linux has been added via #78 so this issue is really to address the `sanity.external` target that is in the default weekly list.

@sophia-guo - I think for now, we should simply remove sanity.external from the list, and bring it back in once we have completed some issues in the openjdk-tests repo (to automatically update tag-versions and clean up the external tests a b

[2021-03-05 17:48] smlambert commented on #70
re: https://github.com/AdoptOpenJDK/ci-jenkins-pipelines/issues/70#issuecomment-791539964 - when we bring these tests back in at a later time, we would limit to hotspot/openj9/dragonwell (and not run for corretto and bisheng is only on riscv, so would not apply for now either, based on its platform).

[2021-03-05 17:56] #70 closed

[2021-03-05 18:48] sxa commented on #80
Fixed by https://github.com/AdoptOpenJDK/ci-jenkins-pipelines/pull/81 and the pipelines are now working as expected :-D

[2021-03-05 18:48] #80 closed

[2021-03-08 11:42] AdamBrousseau opened #88 "JDK_BRANCH passed to tests does match --disable-adopt-branch-safety -b branch"
**What are you trying to do?**

Build & Test with a custom openjdk repo/branch.

**Expected behaviour:**

Pass custom branch via jdkXX_pipeline_config buildArgs `--disable-adopt-branch-safety -r <repo> -b <branch>`. Compile clones and checks out the correct branch. Correct repo & branch are passed to test jobs.

**Observed behaviour:**

Default branch (openj9) is passed to test instead of custom b

[2021-03-08 20:32] AdamBrousseau commented on #88
Agree, not sure why I opened against build tbh.

So, just trying to figure out if my build is in a "state of unknown". Originally I was overwriting the places where the repo is hardcoded and replacing it with my repo. I was having issues with that method. At one point I also tried to use `scmReference` which didn't work because that branch gets used not only for the ext repo but also the OpenJ9 re

[2021-03-12 03:20] AdamBrousseau opened #93 "Propose moving Test lists and Enable Test bool to a config file"
As a third party user, I will tend to have a different test list than what is in [build_base_file.groovy](https://github.com/AdoptOpenJDK/ci-jenkins-pipelines/blob/1a4acb80e65b6cab141398a162523973b3b618e0/pipelines/build/common/build_base_file.groovy#L70). I will also not necessarily want to follow changes made to ENABLE_TESTS such as https://github.com/AdoptOpenJDK/ci-jenkins-pipelines/pull/92. I

[2021-03-16 02:22] AdamBrousseau opened #95 "parseVersionOutput matcher doesn't match Java(TM)"
This might be a requirement for Adoptium soon as well. We are building binaries where we have changed `PRODUCT_NAME` and `PRODUCT_SUFFIX` (and `LAUNCHER_NAME`) in the openjdk code (`make/autoconf/version-numbers`). As a result, our JSON build artifacts have `version:null` in them because the version parser looks for `OpenJDK Runtime Environment`
https://github.com/AdoptOpenJDK/ci-jenkins-pipelines

[2021-03-16 08:56] andrew-m-leonard opened #97 "Improve Success Rating output to better describe scenarios where tests not run"
**👾 Description of the issue**

We have a [nightly_build_and_test_stats.groovy](https://github.com/AdoptOpenJDK/ci-jenkins-pipelines/blob/master/tools/nightly_build_and_test_stats.groovy) file that reports a success rating.

It's been shown recently during the release where we turn off Nightly Tests that the success rating figure drops immediately to 50%, as the value is currently (BuildSuccessRat

[2021-03-17 20:35] M-Davies commented on #24
@lumpfish Does this not already exist as [additionalTestLabels](https://github.com/AdoptOpenJDK/ci-jenkins-pipelines#data-fields)?

[2021-03-17 20:52] M-Davies commented on #93
Ref:
https://github.com/AdoptOpenJDK/ci-jenkins-pipelines/blob/bb2ada1e00694a18a00060d8ee37fb36b7f38a75/pipelines/build/common/build_base_file.groovy#L219-L223
and the test field of [#data fields](https://github.com/AdoptOpenJDK/ci-jenkins-pipelines#data-fields):
| Name                       | Required? | Type                              | <div style="width:500px">Description</div> |
| :---------

[2021-03-17 21:18] M-Davies opened #103 "Rethink RepoHandlerTest.groovy"
The test is very rigid in its flexibility and functionality, this shouldn't be the case for a file that changes a lot.

[2021-03-18 02:37] AdamBrousseau commented on #93
This feature is useful if you have an odd spec that does not follow the default. However for my use, all my specs run the same testing but that list does not match the Adopt default. I would therefore need to paste my list into every spec which is inconvenient. Moving that default list into defaults.json for example, would allow me to change it to my liking for all specs at once. Both for the Nigh

[2021-03-18 02:52] AdamBrousseau commented on #24
I think what Simon is looking for is a build time parameter that can be set to target a specific machine as a 1-off both for the compile and the test(s). One might argue that you could simply use the grinder for the test side but a counter argument would be for a new machine that is build & test capable you could target the single machine for both parts of the build in one shot.

[2021-03-18 06:08] aahlenst commented on #24
Letting the user target machines has security implications. It has to be done in such a way that the CI system must ignore those requests when they are invalid, for example when a build should happen on a non-build machine (we could special-case throwaway builds) or a test on a non-test system.

[2021-03-18 13:46] #43 closed

[2021-03-18 15:54] #93 closed

[2021-03-18 18:29] AdamBrousseau commented on #93
Thanks, Morgan!

[2021-03-18 22:30] M-Davies commented on #88
Ok so thanks to the help from @smlambert I think I have figured out what needs to be done to these sections of code:
https://github.com/AdoptOpenJDK/ci-jenkins-pipelines/blob/a035e1ae6e1aa663282e59a42a4636125eb9e672/pipelines/build/common/openjdk_build_pipeline.groovy#L174-L202
https://github.com/AdoptOpenJDK/ci-jenkins-pipelines/blob/a035e1ae6e1aa663282e59a42a4636125eb9e672/pipelines/build/common

[2021-03-20 14:26] smlambert commented on #84
I'll book time for a quick discussion on the initial approach with @sophia-guo and @aahlenst (likely Friday).

[2021-03-22 15:15] smlambert commented on #83
Once @andrew-m-leonard delivers a fix for https://github.com/AdoptOpenJDK/openjdk-build/issues/1387, then https://github.com/AdoptOpenJDK/ci-jenkins-pipelines/pull/86 can be rebased and merged.

[2021-03-23 11:45] #66 closed

[2021-03-23 12:23] smlambert opened #109 "Trigger AQA tests with PARALLEL=Dynamic"
Given we have some large test targets that take a long time to complete (in particular extended.openjdk), AND we now have a good number of test machines for most platforms, it is time to shift to running tests with PARALLEL=Dynamic.

Switching to this approach will help break down the very large serially run test targets into smaller sets which will mean less test jobs that get aborted at the defa

[2021-03-23 13:52] #54 closed

[2021-03-24 15:10] sophia-guo commented on #84
Initial draft https://github.com/sophia-guo/ci-jenkins-pipelines/tree/installer working with jenkins build https://ci.adoptopenjdk.net/view/work-in-progress/job/adoptium-packages-linux/. There are some details need to be clarified. We will talk on Friday's meeting.

[2021-03-24 21:11] aahlenst commented on #84
Thanks a lot, @sophia-guo. Do I see correctly that it's now part of the normal openjdk-build pipeline? I guess this makes things more complicated than needed because the packages do not depend on the openjdk-build pipelines (same as Docker). They are completely independent and on their own schedule. We will also have packages without a corresponding openjdk-build job (think IBM SDK).

[2021-03-24 21:28] smlambert commented on #84
That may be my misrepresenting the requirements to @sophia-guo ... which is also why to connect with you Friday @aahlenst.  I understood that you wanted to incorporate this into the build pipelines.  Even easier should that not be the case.  Talk with you soon on the topic.

[2021-03-28 12:42] karianna commented on #84
I'm late for the party here :-).  Is this intended to replace the existing openjdk-install based steps we have for producing Linux Packages, or is this something else?

[2021-03-28 12:48] #95 closed

[2021-03-28 13:00] smlambert commented on #84
We are going to move the Jenkins changes that are currently in @sophia-guo's branch out of this repo and into https://github.com/aahlenst/adoptium-packages-linux so that the 'new' way of building installers can be standalone.

The nice thing about the adoptium-packages-linux repo is that it contains testing for installers (via TestContainers).  I believe it will _eventually_ replace the existing o

[2021-03-28 13:53] aahlenst commented on #84
Yes. The old code won't see any further development from me. I haven't officially deprecated it yet, because the new one isn't ready. I haven't created my intro write-up for the community discussion, either.

[2021-03-29 09:21] #103 closed

[2021-03-29 09:23] #55 closed

[2021-04-01 17:28] ellschi commented on #97
I would like to be assigned for this issue. Thanks in advance!

[2021-04-01 17:33] smlambert opened #115 "Ensure regular Build and Test cycle for Solaris platforms"
We have 2 solaris platforms that are being built for jdk8/hotspot:
- [solaris_sparcv9](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-solaris-sparcv9-hotspot/)
- [solaris_x86-64](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-solaris-x64-hotspot/)

If we are planning to build and distribute them, we should:
- verify with @AdoptOpenJDK/tsc wha

[2021-04-01 17:46] ellschi commented on #97
Okay, as I found this one very understandable I commited my changes and started a pull request before waiting to be assigned. I hope that's okay! Looking forward to a review!

[2021-04-01 17:51] smlambert commented on #97
Very good, thanks @ellschi !

[2021-04-07 09:42] adamfarley opened #116 "Reduce automated testing for JDK8 Hotspot on s390x"
**Summary**

The regular testing for JDK8 Hotspot on s390x is to be reduced to sanity.OpenJDK only.

**Reasoning**

The lack of a JIT on JDK8 Hotspot for s390x results in runtimes for tests being many times longer than on other platforms.

Couple that with finite s390x runtime and minimal demand for this build, and the need for the testing fails to justify the excessive time cost.

This matter was

[2021-04-07 11:42] gdams opened #117 "Update all references of ci-jenkins-pipelines to be adoptium"
Despite the fact that GitHub redirects all the code, we should make the effort to update all the references:

https://github.com/adoptium/ci-jenkins-pipelines/search?q=ci-jenkins-pipelines&type=code Seems like a good place to start

[2021-04-07 13:38] #83 closed

[2021-04-07 16:19] smlambert commented on #116
@adamfarley - likely need an if statement somewhere in the [runAqaTests](https://github.com/adoptium/ci-jenkins-pipelines/blob/master/pipelines/build/common/openjdk_build_pipeline.groovy#L313) method, because essentially for jdk8/hs/s390x want to reduce the [buildConfig.TEST_LIST](https://github.com/adoptium/ci-jenkins-pipelines/blob/master/pipelines/build/common/openjdk_build_pipeline.groovy#L322

[2021-04-07 17:28] adamfarley commented on #116
@sophia-guo - Here's a quick thought on the code, based on Shelley's comment above.

https://github.com/adoptium/ci-jenkins-pipelines/compare/master...adamfarley:reduce_s390x_jdk8_hs_testing

 It does mean that the job would be ignoring the parameters, whether set automatically or by the user. Is there a better way for us to exclude these tests?

[2021-04-07 17:36] AdamBrousseau commented on #116
You should be able to exclude by overriding in the pipeline config as Shelley mentioned. However, it appears you'll also need to update this line in order to use different values for each variant.
https://github.com/adoptium/ci-jenkins-pipelines/blob/5d5fe7b2c5afe999f3a2554825f0f6cb3790668a/pipelines/build/common/build_base_file.groovy#L117

[2021-04-07 18:35] sophia-guo commented on #116
I would suggest to do this when testList is generated,  so test running won't need to check it in each iteration.  The code can added after [this line](https://github.com/adoptium/ci-jenkins-pipelines/blob/5d5fe7b2c5afe999f3a2554825f0f6cb3790668a/pipelines/build/common/build_base_file.groovy#L236) .

Something like

[code]

[2021-04-07 19:08] AdamBrousseau commented on #116
@sophia-guo I don't see why you wouldn't set it in jdk8u_pipeline_config.groovy. You would need to modify the getTestList call and function but then it would be done properly. If you hack it out with an `if` you are creating special cases and making the code harder to follow imo. Yes it would be slightly more work but it would be worth the extra effort as I could see this use case happening again.

[2021-04-07 19:39] sophia-guo commented on #116
@AdamBrousseau did you mean redesigning test element in Config class in jdk*u_pipelien_config? Something like

[code]

This way each platform and each impl could set its own testList, which is kind of similar to what we've done before -- each platform define it's own testList. I'm not sure if this requirement happens a lot?

[2021-04-07 19:40] smlambert commented on #116
adding one more idea (hopefully not further muddying this story), but I envision other platforms where we:
- do not have machine resource
- just newly added platform and not ready for 'all the tests',
- no JIT and testing is too painfully slow

Where we may wish to use a _minimalTestingDefault_  containing only sanity.openjdk to [testDetails in defaults.json](https://github.com/adoptium/ci-jenkins

[2021-04-07 19:49] AdamBrousseau commented on #116
+1 Shelley. We could support more pre-defined lists in defaults. I have been doing so for "disabled_tests" as more of a comment so I don't lose track of targets.

Sophia, yes like that plus the other changes I mentioned to handle the change in functionality.

[2021-04-08 13:41] smlambert opened #119 "Set VENDOR_TEST_DIRS for runSmokeTests"
When we use the mechanism to point to non-AQA repositories for test material, we have to tell the test pipeline where to location the test source in the non-AQA repo.

For build and packaging smoke tests, we need to set VENDOR_TEST_DIRS=/test/functional (as done in https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk16u/job/jdk16u-linux-x64-hotspot_SmokeTests/3/, without it set, the job

[2021-04-08 14:23] sophia-guo commented on #119
Pipe job configuration has been updated correctly by job https://ci.adoptopenjdk.net/job/build-scripts/job/utils/job/build-pipeline-generator/3574/, believe the job was trigger the PR triggered by github hook though I don't have permission to see detail.
 https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk16-pipeline/configure

The problem is build job configuration has not been updated.
htt

[2021-04-08 14:26] sophia-guo commented on #119
Looks like to regenerate jdk version is the only parameter to set. @M-Davies is that correct? I can give it a try to regenerate jdk8,11, 16 and jdk (pipeline_jobs_generator_jdk)

[2021-04-08 14:29] sophia-guo commented on #119
This also make me think if  [ pipeline-job  ](https://ci.adoptopenjdk.net/job/build-scripts/job/utils/job/build-pipeline-generator) can be parameterized with a boolean : if build job need to be regerated too? According the the PR.

[2021-04-08 14:31] sophia-guo commented on #119
Or committer comment trigger to regerate necessary build jobs.

[2021-04-08 14:34] sophia-guo commented on #119
@adamfarley  Eventually smoke tests failed the build job should fail. For now as the workflow has not been smoothy as expected. Smoke tests failure will just disable run-aqa tests. And have the warning message.

[2021-04-08 14:37] adamfarley commented on #119
Thanks for telling me. I will watch out for this behaviour in the future.

[2021-04-09 07:56] Apurwa-Ghosh commented on #50
Hi, I am an Outreachy applicant. Can I work on this issue?

[2021-04-09 10:25] M-Davies commented on #50
Sure. You are assigned 🙂 Let me know if you need any help at all

[2021-04-09 13:02] #117 closed

[2021-04-09 16:29] sophia-guo opened #121 "Smoke tests failures didn't block the run-aqa tests as expected."
We'd like smoke tests failures would block the run-aqa tests.

Now if smoke tests job generation failed the run-aqa tests are blocked.
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk16u/job/jdk16u-windows-x64-openj9/16/console

However if smoke tests job generate correctly but job itself failed, run-aqa test was not blocked as expected.
https://ci.adoptopenjdk.net/job/build-scripts/

[2021-04-09 18:30] sophia-guo commented on #119
All build jobs have been regerated. https://ci.adoptopenjdk.net/job/build-scripts/job/utils/job/pipeline_jobs_generator_jdk16u/
https://ci.adoptopenjdk.net/job/build-scripts/job/utils/job/pipeline_jobs_generator_jdk8u/
https://ci.adoptopenjdk.net/job/build-scripts/job/utils/job/pipeline_jobs_generator_jdk11u/
https://ci.adoptopenjdk.net/job/build-scripts/job/utils/job/pipeline_jobs_generator_jdk/

[2021-04-09 18:30] #119 closed

[2021-04-09 19:16] smlambert commented on #119
Thanks @sophia-guo !

[2021-04-12 16:32] sophia-guo commented on #121
Most of smokeTests jobs failed. Some of them are test failure

https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-aix-ppc64-hotspot_SmokeTests/1/console
Some of them shows no tests are running and job failed
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-aarch64-dragonwell_SmokeTests/1/

[2021-04-12 16:38] AdamBrousseau commented on #121
Just wanted to confirm whether or not these smoke tests will be a blocker in time for the release next week? I know we've failed them internally since they were added but I haven't had a chance to investigate.

[2021-04-12 19:06] sophia-guo commented on #121
All smoke tests are limited to impl openj9 or vendors AdoptOpenJDK. There is no smoke tests for dragonwell ( impl=hotspot, vendor= alibaba) test jobs failed due to no test running `TOTAL: 0   EXECUTED: 0   PASSED: 0   FAILED: 0   DISABLED: 0   SKIPPED: 0`.

@smlambert  should we just disable smoketest for dragonwell?

[2021-04-12 20:05] M-Davies opened #123 "Github action to autoadd issues and pr's to project"
Perhaps using [assign-to-one-project](https://github.com/marketplace/actions/assign-to-one-project), it would save project managers having to remember to add new PR's and issues to projects.

[2021-04-12 20:14] smlambert commented on #121
@sophia-guo - we can either:
- disable for dragonwell **or**
- add alibaba as vendor to Adopt_HS_FeatureTests target at [L35](https://github.com/AdoptOpenJDK/openjdk-build/blob/master/test/functional/buildAndPackage/playlist.xml#L35) if those tests apply **or**
- create a new test target in the playlist for Dragonwell, with the [CommonFeatureTests and/or HotspotFeatureTests](https://github.com/Ado

[2021-04-12 20:25] M-Davies commented on #30
Related https://github.com/adoptium/ci-jenkins-pipelines/issues/60

[2021-04-12 20:43] lumpfish commented on #24
It looks like what I'm looking for does actually exist.  The first jobs started by the pipeline - e.g. https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-s390x-openj9/952/parameters/ allows the user to specify 'NODE_LABEL' which I assume is then passed down to all sub-jobs.

[2021-04-12 21:42] sophia-guo opened #127 "Smoke tests issues"

[2021-04-12 21:42] sophia-guo commented on #121
Move specific smoke test case failure to separate issue #127 as there are different failures. Fix would be in openjdk-build repos.

[2021-04-13 08:11] lumpfish commented on #24
Closing on the basis of comment https://github.com/adoptium/ci-jenkins-pipelines/issues/24#issuecomment-818209865

[2021-04-13 08:11] #24 closed

[2021-04-13 13:07] gdams commented on #77
We are currently working on procuring a machine to help unblock this

[2021-04-13 14:46] sophia-guo commented on #127
AIX failure: add ppc64 as arch and got:

[code]
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-aix-ppc64-hotspot_SmokeTests/2/console

Shenandoah GC was enabled by default with JDK 15 (JEP 379) and backported to 11.0.9.
https://bugs.openjdk.java.net/browse/JDK-8250784

Looks like Shenandoah GC hasn't been enabled for nightly AIX build. If this is not expect I can move

[2021-04-13 15:58] sophia-guo commented on #127
Looks like current smoke tests mainly focus on mac, wins, linux. That is other os or platform may hit different issues.

[2021-04-13 17:47] #59 closed

[2021-04-13 17:48] #32 closed

[2021-04-13 18:14] sophia-guo commented on #127
Enable smoketests for dragonwell on aarch64 and got same failure as aix hotspot https://github.com/adoptium/ci-jenkins-pipelines/issues/127#issuecomment-818795157
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-aarch64-dragonwell_SmokeTests/2/console

[2021-04-13 18:25] sophia-guo commented on #127
Windows  64 with hotspot failure is

[code]
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-windows-x64-hotspot_SmokeTests/1/console

[2021-04-14 03:02] sophia-guo commented on #127
Smoke tests failure with openj9:

net.adoptopenjdk.test.VendorPropertiesTest.vmPropertiesPointToVendor
net.adoptopenjdk.test.CudaEnabledTest.testIfCudaIsEnabled

https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-x64-openj9_SmokeTests/2/#showFailuresLink

[2021-04-14 08:52] #123 closed

[2021-04-14 18:55] Antonynans commented on #33
Hi can I be assigned this issue

[2021-04-14 19:05] M-Davies commented on #33
You're assigned! Let me know if you need any help 🙂

[2021-04-16 20:10] sophia-guo commented on #127
All smoke tests with jdk8 failed.

[2021-04-17 11:15] M-Davies opened #133 "RepoHandler does not checkout user openjdk-build repo correctly"
**What are you trying to do?**
Execute a pipeline with a custom `build_url` and `build_branch` in `defaults.json` and `USE_ADOPT_SHELL_SCRIPTS` set to `false`.

**Expected behaviour:**
The pipeline will checkout to the openjdk-build selected by `build_url` and `build_branch`.

**Observed behaviour:**
The pipeline always ends up checking out the main repo ([example](https://ci.adoptopenjdk.net/job/

[2021-04-20 14:39] andrew-m-leonard commented on #97
@ellschi Hi there, how are you getting on with this? do you need any help?

[2021-04-20 14:50] M-Davies commented on #97
@ellschi Looks like you created a pull request against your own repository for this issue https://github.com/ellschi/ci-jenkins-pipelines/pull/1. To be able to merge the code into the branch of this main repository (not your fork), you need to:
1. Go to https://github.com/adoptium/ci-jenkins-pipelines/compare
2. Hit `compare across forks`
3. Select your repo and branch that contains the changes yo

[2021-04-20 15:48] andrew-m-leonard commented on #97
Thanks @M-Davies for helping

[2021-05-05 21:16] AdamBrousseau opened #143 "OpenJ9 builds should pass OpenJ9 SHA to test"
For OpenJ9 builds, the openj9 sha used to compile the SDK should be passed to test. Sometimes there are code changes with matching test changes. If such a change is merged "mid-flight" (ie. After a compile starts but before a test starts), the test job would pickup the change and could cause failure. This has happened in eclipse-openj9/openj9#12629 for example.

[2021-05-11 19:02] #116 closed

[2021-05-12 15:13] AdamBrousseau commented on #51
Not sure why this wasn't handled in #145. This issue is still valid even though the code has changed.

IMO this line should be configurable
https://github.com/adoptium/ci-jenkins-pipelines/blob/c5a5ed7dd940b95951dc3379fb73605c5f31f013/pipelines/build/common/openjdk_build_pipeline.groovy#L404

[2021-05-15 01:25] #97 closed

[2021-05-18 10:41] #133 closed

[2021-05-28 12:32] #109 closed

[2021-06-01 17:33] AdamBrousseau opened #156 "Request to make Jenkins job permissions configurable"
https://github.com/adoptium/ci-jenkins-pipelines/pull/154
https://github.com/adoptium/ci-jenkins-pipelines/pull/155

These 2 PRs introduced changes specific to Adopt that do not apply to other consumers of the Jenkins pipelines. Can these be reworked to be configurable via the defaults.json file? Minimum would be a boolean but ideally also moving the hardcoded team name(s) into the config file.

[2021-06-09 12:09] smlambert opened #165 "jtreg artifacts contain incorrect contents"
The https://ci.adoptopenjdk.net/view/Dependencies/job/dependency_pipeline/lastSuccessfulBuild/artifact/jtreg/ job produces several artifacts, some of them contain incorrect contents.

- jtreg4.2.0 doesn't contain 4.2.0 (see [Slack conversation](https://adoptium.slack.com/archives/C5219G28G/p1623072758038100))
- this job used to produce 5.0.1b but started producing a 6+1 (test.getDependency and job

[2021-06-11 10:42] sxa opened #167 "JDK17 pipelines are invoking build jobs with the wrong name"
Thank you for reporting a broken build! Please fill in the following details:

- **Jenkins link to the failing log:** https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk17-pipeline/128/console
- **Which platforms (OS+arch) are affected:** All
- **If you look at the historic logs, does the problem appear to be specific to one machine?** No
- **Link to any upstream project bug report (e.g. [Op

[2021-06-11 14:09] gdams commented on #167
This is because the JDK18 tag landed yesterday. I'll fix this now

[2021-06-11 16:05] #167 closed

[2021-06-11 18:26] smlambert commented on #165
@jerboaa - looking for some assistance with this one if you have time to take it or advise on it, please :)

[2021-06-11 20:35] sophia-guo commented on #165
Looking at the code both [`buildJTRegTip()`](https://github.com/adoptium/ci-jenkins-pipelines/blob/master/tools/code-tools/jtreg.sh#L160) and [`buildJTRegLastTag()`](https://github.com/adoptium/ci-jenkins-pipelines/blob/master/tools/code-tools/jtreg.sh#L165) are calling [`buildJTReg()`](https://github.com/adoptium/ci-jenkins-pipelines/blob/master/tools/code-tools/jtreg.sh#L119), which built jtreg

[2021-06-11 21:12] sophia-guo commented on #165
This could be fixed by checkout preferred release version https://github.com/adoptium/ci-jenkins-pipelines/blob/master/tools/code-tools/Jenkinsfile#L70 https://github.com/openjdk/jtreg/releases

[2021-06-14 09:13] jerboaa commented on #165
@smlambert Are you still looking to get this fixed? If yes, I'll take a look later in the week.

[2021-06-14 11:56] smlambert commented on #165
If you can, that would be great thanks @jerboaa.

[2021-06-14 14:04] jerboaa commented on #165
ok

[2021-06-15 13:24] jerboaa commented on #165
Note that JDK head now requires jtreg 6, which isn't backwards compatible. I.e. JDK 17+ will have to use jtreg 6 and other JDKs stay with jtreg 5 (should work for JDK 8 and 11). As such, I'm going to update the code to build jtreg 5 and jtreg 6.

See also:
https://bugs.openjdk.java.net/browse/JDK-8266254

[2021-06-15 16:58] smlambert commented on #165
Related: https://github.com/adoptium/aqa-tests/issues/2642

[2021-06-16 19:08] sophia-guo commented on #165
I have successful builds available using specific releases https://github.com/openjdk/jtreg/releases https://ci.adoptopenjdk.net/view/work-in-progress/job/GetNode/46/

The tricky thing is the build is build from my personal jtreg branch. https://github.com/sophia-guo/jtreg

The reason for that is jtreg set the latest tagged version by default , which also doesn't support passing in extra tag infor

[2021-06-17 08:13] jerboaa commented on #165
I'm not sure we need to.

@sophia-guo These [two](https://github.com/openjdk/jtreg/blob/master/make/build-all.sh#L289) [lines](https://github.com/openjdk/jtreg/blob/master/make/build-all.sh#L292) look like as if they would respect `BUILD_NUMBER` and `BUILD_VERSION` environment variables. Only if they're **not** set it would use `TAG_INFO`. Have you considered using something like this:

[code]

[2021-06-17 10:17] sophia-guo commented on #165
@jerboaa Thanks! Didn't bother to go further once I saw the line [TAG_INFO=`get_tag_info`](TAG_INFO=`get_tag_info`) .

[2021-06-18 13:57] sophia-guo commented on #165
Just a note that for jtreg 6+ we don't need to export build_number and build_version any more. Specification of version info was added in different version-numbers.txt files. When building use build.sh for jtreg6+ while buildall.sh for jtreg5. Though buildall.sh stays in the jtreg6+, which is confusing.

[2021-06-18 14:28] #165 closed

[2021-07-02 14:57] adamfarley commented on #115
@smlambert - Here's a PR to enable pipeline testing on the builds: https://github.com/adoptium/ci-jenkins-pipelines/pull/175

As far as I know, this is all that should be required. What do you think?

[2021-07-02 16:54] adamfarley commented on #115
The PR mentioned above is merged. Will review the test completion times on Monday before wrapping this up, just to be certain that we have enough machine time. We probably do, based on the [facts we have](https://github.com/adoptium/ci-jenkins-pipelines/pull/175#issuecomment-873099756), but we can't be sure until the weekend runs are complete.

[2021-07-05 14:21] AdamBrousseau opened #176 "Build holds a 'master' executor while installers run"
**Expected behaviour:**

Shouldn't hold an executor while not doing work

https://github.com/adoptium/ci-jenkins-pipelines/blob/5247c3aacc24aeb5db6e225f54c99aaa1a03c1a4/pipelines/build/common/openjdk_build_pipeline.groovy#L601

Also not sure why only the mac case does a cleanup
https://github.com/adoptium/ci-jenkins-pipelines/blob/5247c3aacc24aeb5db6e225f54c99aaa1a03c1a4/pipelines/build/common/ope

[2021-07-05 14:37] AdamBrousseau opened #177 "pipeline_jobs_generator_jdkNN hold a master executor while they wait for jobs to not be running."
Similar to #176

The builds grab a master executor and then wait in 15 minute increments for the openjdkNN-pipleline to finish running. They should either remove this dependency completely or release the executor while it waits.

[2021-07-05 16:28] adamfarley commented on #115
Weekend runs have been assessed.

[Solaris Sparcv9](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-solaris-sparcv9-hotspot/503/console) - Tests ran as intended. Total runtime = Almost 6 hrs (including a timeout).
Even if we only ever have one machine for this, there's no concern over runtime.

[Solaris x64](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8

[2021-07-05 21:13] sxa commented on #115
Infra issue has been resolved therefore closing this

[2021-07-05 21:13] #115 closed

[2021-08-24 14:00] AdamBrousseau opened #184 "Jenkins Testing: Dynamic parallel should support numMachines per test target"
https://github.com/adoptium/ci-jenkins-pipelines/pull/142 introduced parallel testing to the pipelines.
[code]
At the moment users can supply an array of test targets and a single numMachines value. We have use case to have different numMachines for different targets.

[2021-09-15 08:17] karianna opened #189 "Java 17 nightly pipeline ran despite having disabled nightlies."
Hmm, for some reason the [Java 17 nightly pipeline](https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk17-pipeline/189/) still fired last night during the release.

Chances are the instructions for disabling the nightlies need to be updated?

[2021-09-15 08:50] sxa commented on #189
It ran builds with no tests which is exactly what we have always agreed to do during this period. The builds are quick enough that they do not generally block release pipelines (whereas the tests would)
`enableTests: false` [is the change we make](https://github.com/adoptium/ci-jenkins-pipelines/pull/187/files). We do not inhibit the building of the nightlies completely

[2021-09-15 08:50] #189 closed

[2021-09-16 10:17] karianna opened #192 "Investigate locking down read only access to release build jobs for anon users"
For release builds it might be nice to lock those down so the open internet doesn't just grab what looks like ready-to-go GA binaries thinking they are tested.  The window is very short, but still.

[2021-09-20 19:58] AdamBrousseau commented on #184
An override via the spec file to change the number for a given platform might be valuable too.
Eg. extended.openjdk => 3 machines except for Windows set to 5 for example.

[2021-09-28 03:05] sophia-guo opened #195 "Set build pipelines fail and block the running of AQA tests if smoke tests fail"
Smoke Tests has been  incorporated into the Jenkins build pipelines. The outstanding failure in the smoke tests has been fixed. Looks like the tests has been stable. We'd like to suggest

- [x] set build pipeline jobs fail if failures occur in smoke tests jobs, which would be similar to installer jobs and sign installer jobs -https://github.com/adoptium/ci-jenkins-pipelines/issues/234

- [x] block

[2021-09-29 06:27] AdamBrousseau opened #196 "scmReference build parameter does not trump buildArgs --disable-adopt-branch-safety -b <branch>"
**What are you trying to do?**
We have a buildArg in our config file to pull a custom openjdk repo and branch.
[code]
When doing a release build we want to pull the release branch of that repo, not the main branch. scmReference is used to do this by default for the buildspecs that don't use this build arg. But for the specs that have the arg, the branch in the buildArg beats the scmReference. I'm

[2021-10-06 07:54] sxa opened #201 "UPdatr docs on running tests against changes"
Currently [the FAQ](https://github.com/adoptium/ci-jenkins-pipelines/blob/master/FAQ.md#ive-modified-the-build-scripts---how-can-i-test-my-changes) has information on testing your change susing [test-build-script-pull-request](https://ci.adoptopenjdk.net/job/build-scripts-pr-tester/job/test-build-script-pull-request/) - that job no lnoger appears to work so we should provide accurate information t

[2021-10-10 14:05] smlambert opened #205 "Fix spelling mistake in nightly publish report"
**What are you trying to do?**
Fix the spelling mistake in the newly added nightly publish report

**Expected behaviour:**
The word nightly should be spelled correctly

**Observed behaviour:**
The word nightly is spelled nigthly

**Any other comments:**
Search for and fix the 2 places where this typo exists in:
https://github.com/adoptium/ci-jenkins-pipelines/blob/master/tools/nightly_build_and_te

[2021-10-11 08:50] #205 closed, assigned to King-kay

[2021-10-14 05:26] #9 closed

[2021-10-14 05:31] smlambert opened #207 "Ensure we can use a particular branch of aqa-tests"
Test pipelines can take repo/branch information for various test repos, including aqa-tests (where the test definitions live).  We would like to use a particular branch for aqa-tests during a release to ensure stability and be able to continue development in the master branch (avoiding the need for a code freeze for AQAvit repositories).

This issue is to add the additional parameter into the pare

[2021-10-14 18:31] SehrishHussain commented on #51
@andrew-m-leonard can we work on this issue?

[2021-10-16 09:14] SehrishHussain commented on #51
@andrew-m-leonard please check the [PR ](https://github.com/adoptium/ci-jenkins-pipelines/pull/208) looking forward for your feedback

[2021-10-21 12:36] jerboaa opened #211 "Build jtreg 6.1+1 for OpenJDK 18"
Since yesterday OpenJDK 18 (current mainline development tree) requires `jtreg-6.1+1` due to removal of Security Manager. We should build that version of jtreg in addition to other versions for community consumption.

[2021-10-21 13:18] sophia-guo commented on #211
@jerboaa Does that also mean for jdk18 we should use jtreg6.1+1 for tests? Thanks!

[2021-11-11 15:02] #211 closed

[2021-11-24 04:14] smlambert opened #215 "Update build matrix in README"
**What are you trying to do?**
Looking at the build matrix in the README, looks like it needs to be updated.  Lots of chiclets that are no longer populated with results (likely since changes in access to openj9 jobs has changed), also contains jdk15 and 16 which will no longer be valid, and should have columns for jdk17 (and java HEAD would be now jdk18).  If we are to keep this matrix, we should

[2021-12-02 10:33] sxa opened #216 "BUILD_ARGS not passed through from top level pipelines to build pipelines"
**What are you trying to do?** Test the `--create-jre-image` parameter added in https://github.com/adoptium/temurin-build/pull/2788 by setting `BUILD_ARGS` in the openjdk17-pipeline job

**Expected behaviour:** Platform-specific build pipelines are passed the parameter and use it when it's set in the top level pipeline

**Observed behaviour:** Parameter is lost and does not get to the lower level

[2021-12-02 13:59] AdamBrousseau commented on #184
Resolved by #213

[2021-12-08 14:44] sophia-guo opened #219 "Re-enabling external tests"
External tests is on the process of cleanup and update to make sure they will be running cleanly on many of the platforms for which we produce binaries. We'd like to enable them on supported platforms( docker supported). This can be done by two steps

- [ ] enable on x86_64
- [ ] enable on other xlinux platforms.

Todo this we need to

1. add sanity.external, extended.external to [nightly or weeke

[2021-12-08 14:45] sophia-guo commented on #219
@LizyBbethy FYI

[2021-12-16 19:45] #47 closed

[2022-01-07 10:55] sxa opened #227 "Provide mechanism to test openjdk-build changes from openjdkXX-pipeline jobs"
At the moment any build script changes can only be tested on a per-build/platform basis by using a fork of this repository.

For easy of developing and testing changes it would be useful to be able to have a mechanism to satisfy the use case of "How do I run my bulid scripts changes through a full JDKxx pipeline across all platforms?"

Currently that is almost impossible as the `defaultsUrl` does

[2022-01-10 22:42] sophia-guo commented on #207
Based on the current aqa-tests jenkins jobs settings parameter ADOPTOPENJDK_BRANCH and USE_TESTENV_PROPERTIES need to be passed to test jobs.

USE_TESTENV_PROPERTIES will need to be added in testJobTemplates. And all test jobs need to be regenerated manually. Alternatively we might need to add one more flag to force regenerate all test jobs automatically.

Currently the jdkbranch is set by `buildC

[2022-01-14 14:22] #207 closed

[2022-01-25 18:32] llxia opened #234 "Adoptium top level pipeline build should reflect all child job results"
Currently, Adoptium top-level pipeline build (i.e., openjdk8-pipeline, openjdk11-pipeline, etc) does not reflect all child job results, especially not including AQA test build results. It causes confusing/misleading information. For example:

- If the top-level pipeline build is SUCCESS/green, it does not mean all AQA tests jobs are passed.
- If the top-level pipeline build is completed, it does n

[2022-01-25 18:46] smlambert commented on #234
related: https://github.com/adoptium/ci-jenkins-pipelines/issues/11

[2022-01-25 20:01] karianna commented on #234
FYI - I think we'll need to provide the upgrade Jenkins to resolve this.

[2022-02-08 12:42] smlambert opened #236 "Update eclipse-temurin-bot with permissions to see installer jobs status"
eclipse-temurin-bot is used by TRSS to report on job status of all child jobs hanging off of the central build pipelines.  Some jobs are configured with permissions that do not allow the eclipse-temurin-bot to see and therefore report on status.  The result is that TRSS release summary report has to report that the job status is undefined, since it can not determine it (shown below).

[**create_in

[2022-02-08 17:10] sxa opened #237 "Pipeline failure trying to build 11.0.14.1+1"
Thank you for reporting a broken build! Please fill in the following details:

- **Jenkins link to the failing log:** https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-s390x-hotspot/1002/console
- **Which platforms (OS+arch) are affected:** Probably all
- **If you look at the historic logs, does the problem appear to be specific to one machine?** No, but irrelevant

[2022-02-08 18:41] sxa commented on #237
As you were - I'd cut & pasted and extra space into the end of the `SCM_REF` value

[2022-02-08 20:43] smlambert commented on #237
Can update the Jenkins param to trim whitespace?

[2022-02-09 13:47] sxa commented on #237
That would be the ideal thing to do - it's not the first time I've cut & pasted with an erroneous space ;-)

[2022-02-09 13:55] sxa opened #238 "Look at trimming whitespace from build and test jobs"
Split out as a solution the underlying "user error" problem described in https://github.com/adoptium/ci-jenkins-pipelines/issues/237 - we should ensure that leading/trailing whitespace in the parameters are stripped. (Possibly true of the release tool parameters too)

[2022-02-09 13:55] sxa commented on #237
Closing as I've raised https://github.com/adoptium/ci-jenkins-pipelines/issues/238

[2022-02-09 13:55] #237 closed

[2022-02-15 10:00] sxa opened #239 "Linter failures due to natural language checks"
Equivalent to https://github.com/adoptium/temurin-build/issues/2831 for this repository.

Note that I don't personally agree with some of them (e.g.site->website) and so we should possibly look at the configuration of the linter before blindly implementing what it's objecting to.

[2022-02-15 17:54] sxa opened #243 "Replace create_installer_linux"
The build pipelines are currently still invoking [create_installer_linux](https://ci.adoptopenjdk.net/job/build-scripts/job/release/job/create_installer_linux) at the end of each Linux build but it's a no-op (The whole inlined shell script in that jenkins job is commented out, so it copies artifacts around but does nothing with thtem)

The functionality has been superceded by the linuxNew function

[2022-02-16 16:59] sophia-guo opened #244 "Test job failed with `DETECTED_JDK_IMPL value is hotspot, settled JDK_IMPL value is temurin`"
Related with https://github.com/adoptium/ci-jenkins-pipelines/pull/226

https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.functional_x86-64_mac/211/console

[2022-02-16 17:07] sophia-guo commented on #244
[if (jdk_Version == "temurin") ](https://github.com/adoptium/ci-jenkins-pipelines/blob/master/pipelines/build/common/openjdk_build_pipeline.groovy#L184) should be `buildConfig.VARIANT`

[2022-02-16 17:42] smlambert commented on #244
There is code within TKG that may also be affected and need to be updated, https://github.com/adoptium/TKG/blob/master/src/org/openj9/envInfo/JavaInfo.java#L131.

[2022-02-16 22:07] #244 closed

[2022-02-17 13:07] smlambert commented on #234
As far as I am aware, this issue can be resolved by updating pipeline code and does not require a Jenkins upgrade to accomplish it.

[2022-02-21 15:20] sxa opened #250 "Smoke tests are getting JDK_IMPL=temurin unlike other jobs"
**What are you trying to do?** Run smoke test jobs successfully in the nightly pipelines

**Expected behaviour:** Builds success

**Observed behaviour:** Builds fail as theyt are being passed `JDK_IMPL=temurin` instead of the other test jobs which are getting `JDK_IMPL=hotspot` - basically the smoke tests do not seem to be subject to https://github.com/adoptium/ci-jenkins-pipelines/blob/31ad2d4c3e

[2022-02-21 15:28] sxa commented on #250
@sophia-guo Is there anything special about the way the smoke test jobs are assembled that means they are missing this parameter adjustment from `temurin` to `hotspot`?

[2022-02-22 18:54] sxa commented on #250
OK I'm now even more confused by what's happening ...

If I run https://ci.adoptopenjdk.net/view/work-in-progress/job/SXA-LinuxARMbuildTest/, which is a straight copy of https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-aarch64-temurin/, it passed `JVM_IMPL=hotspot` into the [generated smoke test job which passed](https://ci.adoptopenjdk.net/job/SXA-LinuxARMbuildTe

[2022-02-22 19:19] sophia-guo commented on #250
https://github.com/adoptium/ci-jenkins-pipelines/blob/31ad2d4c3e1c0bf8acb3a067bc9a408c0edc1ee9/pipelines/build/common/openjdk_build_pipeline.groovy#L184 is in PR https://github.com/adoptium/ci-jenkins-pipelines/pull/245, which is to fix this. The failed smoke tests were generated before this fix and need to be regenerated.

[2022-02-22 19:22] sophia-guo commented on #250
Note, recent AQA_AUTO_GEN only work for aqa test jobs, which doesn't work for smoke test job.

[2022-02-22 21:52] sxa commented on #250
Hmmm OK I'm a bit confused as to how this works then as I thought that code was in the pipeline code that sets the parameters that are used to call the smoke test job - I'd run the regeneration of the build pipeline so thought that would change the input to the smoke test job, but I'll try deleting the smoke test job and retrying ...

[2022-02-22 21:53] sxa commented on #250
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-aarch64-temurin/8/console

[2022-02-23 12:17] sxa commented on #250
LGTM - I'll delete all the `temurin_SmokeTest` jobs and let them be regenerated. Backup created as temurin_SmokeTests.tar.xz in the jobs directory on the jenkins master.

[2022-02-25 13:00] adamfarley opened #252 "Propose to Append Download Testing to Existing Pipeline Steps"
**Summary**

This issue covers the discussion around whether download testing should be added, and what form it should take.

**Initial Proposal**

We should check that any builds intended to be linked to via the website are:

1) Discoverable via the website.
2) Downloadable via the link supplied on the website.
and
3) Exactly the same build as we expect to find.

Note: This issue was created in t

[2022-02-26 16:44] sxa commented on #250
Now working.

[2022-02-26 16:44] #250 closed

[2022-02-28 12:16] sxa opened #254 "nightlyBuildAndTestStats jobs are not running successfully"
**What are you trying to do?** Look at the following jobs, and see their output in the #build slack channel:
- https://ci.adoptopenjdk.net/view/Tooling/job/nightlyBuildAndTestStats_hotspot
- https://ci.adoptopenjdk.net/view/Tooling/job/nightlyBuildAndTestStats_openj9
- https://ci.adoptopenjdk.net/view/Tooling/job/nightlyBuildAndTestStats_dragonwell
- https://ci.adoptopenjdk.net/view/Tooling/job/ni

[2022-02-28 13:19] andrew-m-leonard commented on #254
Seems to be a connection issue to TRSS API, trying manually:
[code]

[2022-02-28 13:31] andrew-m-leonard commented on #254
Seems to truncate at 127k

[2022-02-28 14:29] andrew-m-leonard commented on #254
Problem was due to space issues on the TRSS server, causing truncated http reponses.

[2022-02-28 14:29] #254 closed

[2022-02-28 19:49] llxia commented on #234
Does anyone know why we have `propagate: false` for the test jobs?
https://github.com/adoptium/ci-jenkins-pipelines/blob/cee0b690b2a3a199b1f3f77892b6a1e18a20ea3b/pipelines/build/common/openjdk_build_pipeline.groovy#L292

[2022-02-28 21:51] smlambert commented on #234
The only reason was historically, we did not have many clean runs.  Now that we have cleaned up the test jobs (a lot), we should be switching that to true.  That may be sufficient to resolve this issue (to have top-level pipeline build reflect test job status at least).  Other child jobs like smoke tests and installers would need their own adjustments.

[2022-03-01 15:10] llxia opened #256 "SDK_RESOURCE needs to be set in the pipeline"
Currently, we do not set SDK_RESOURCE in the upstream pipeline and we depend on the test pipeline default values. We should set SDK_RESOURCE explicitly in the pipeline.

- Add SDK_RESOURCE=upstream
https://github.com/adoptium/ci-jenkins-pipelines/blob/cee0b690b2a3a199b1f3f77892b6a1e18a20ea3b/pipelines/build/common/openjdk_build_pipeline.groovy#L295

[2022-03-02 10:05] jerboaa opened #258 "Nightly publish job with slack notifications no longer runs"
We used to have a job which posted slack messages to the build channel, detailing whether or not latest nightly builds got published to github. This no longer works. I'm guessing due to https://github.com/adoptium/temurin-build/issues/2671

**Expected behaviour:**
Publish stats posted to build slack channel.

**Observed behaviour:**
No publish stats.

**Any other comments:**
https://github.com/ado

[2022-03-02 10:08] jerboaa commented on #258
Last successful run:
https://ci.adoptopenjdk.net/view/Tooling/job/nightlyBuildAndTestStats_hotspot/569

It has this in the console output:
[code]

Most recent job doesn't:
https://ci.adoptopenjdk.net/view/Tooling/job/nightlyBuildAndTestStats_hotspot/587/

[2022-03-02 13:32] sxa commented on #258
Hmmm [switching it back to hotspot ](https://github.com/sxa/ci-jenkins-pipelines/commit/9e8839c0a0242a7cc1f9b975b1da53fb2e6bd8b4)doesn't quite [have the desired effect](https://ci.adoptopenjdk.net/view/Tooling/job/nightlyBuildAndTestStats_hotspot/590/console) as we are not building a variant of "hotspot" any more so whever it's looking picks up the last builds from over two weeks ago, so we need t

[2022-03-02 14:43] sxa commented on #258
We resolved a problem with space issues on the TRSS server, although if it's still not showing the correct results today it's going to need some further investigation to understand whether the problem is TRSS not having the data available or whether the nightlyBuildAndTestStats_* jobs are not querying it properly for the temurin case.
FYI @smlambert @llxia @sophia-guo in case you have any insight/

[2022-03-02 17:19] sophia-guo commented on #258
Also update the job configuration with default VARIANT=temurin.

[2022-03-02 17:25] sxa commented on #258
@sophia-guo If I set the job to run from your `variant1` branch an set a VARIANT of `temurin` on the parameters, it is [still not retrieving the information](https://ci.adoptopenjdk.net/view/Tooling/job/nightlyBuildAndTestStats_hotspot/594/console) as far as I can see. Is there still an issue somewhere with TRSS that needs to be addressed?

[2022-03-02 17:45] sophia-guo commented on #258
The PR with variant1 branch is addressing no slack notifications issue.

No information retrieved from TRSS is a different issue. There is no builds information ever since [Feb 16](https://trss.adoptium.net/) ( disk issue you mentioned before?).

[2022-03-02 17:47] sophia-guo commented on #258
Looks like it will only report recent 7 days infor.  https://github.com/adoptium/ci-jenkins-pipelines/pull/230. So no report data is expected.

[2022-03-02 18:02] sophia-guo commented on #258
Updated PR #259 Now should be fine https://ci.adoptopenjdk.net/view/Tooling/job/nightlyBuildAndTestStats_hotspot/597/ with output

[code]

[2022-03-02 18:05] sxa commented on #258
That was resolved yesterday so I would expect it to show data from last night's pipelines unless there's another issue stopping it from being picked up - we had [JDK11 builds last night](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/) that were [successfully published as nightlies](https://github.com/adoptium/temurin11-binaries/releases/tag/jdk11u-2022-03-02-04-49-beta) so ther

[2022-03-02 20:03] jerboaa commented on #258
Thanks for the fix folks!

[2022-03-02 20:05] jerboaa commented on #258
I concur. There is still something wrong. Also, why is it reporting it as healthy when it's > 15 days ago and stale threshold is 4 days?

[2022-03-02 23:10] sophia-guo commented on #258
The new PR  output is
[code]

[2022-03-02 23:11] sophia-guo commented on #258
The next step would check why no new data in trss. Should restart TRSS? @sxa

[2022-03-03 05:10] sophia-guo commented on #258
No data issue opened in https://github.com/adoptium/aqa-test-tools/issues/623

[2022-03-03 15:55] sxa commented on #258
Suggest @llxia or @Haroon-Khel takes that action (although is that just a guess, or is there something specific that you think will require a restart? The concern is obviously that with an out of space issue there may be files that have got truncated. It's also not currently clear - at least to me - why an out of space issue outside the `/data` file system would have caused the instability we are

[2022-03-03 16:09] sophia-guo commented on #258
Not sure what do you mean by 'truncate' , is it the issue mentioned in https://github.com/adoptium/ci-jenkins-pipelines/issues/254#issuecomment-1054249937? If that is the case maybe reopen #254

[2022-03-03 16:44] llxia commented on #258
I would also suggest restarting the TRSS services.
It seems the method of running TRSS changed. I cannot find TRSS log anymore and I do not know how to restart it.

And I think we may have a disk space issue soon:
[code]

[2022-03-04 00:21] smlambert commented on #258
Reopening this.  If the method for running TRSS has changed, it would be a change driven by the infra team, so needs infra input/assistance.

[2022-03-04 11:29] sxa commented on #258
I am NOT referencing any specific issue. I am saying, as a system administrator, that if the disk space fills up on any machine and an application runs on that file system, there is a risk that files are not correctly written and become corrupted/shortened due to the out of space conditions. In order to understand how likely that we'd need to know if TRSS writes anything to the file system other t

[2022-03-04 13:14] smlambert commented on #258
We are in a broken state at the moment.  I am presuming the only option is to restart it.  Someone please correct me if that assumption is incorrect.  I am not sure why the all-caps shouting.  From my read of what Lan shared in a comment above, there have been cores written to disk, so that is something we know is being written to disk.

/data is not the issue.  The request during community scrum

[2022-03-07 11:02] sxa opened #261 "Pipelines are not generating individual build pipeline jobs as claimed"
**What are you trying to do?** Test the [adding of the fast-startup project](https://github.com/adoptium/ci-jenkins-pipelines/pull/257) to the pipelines

**Expected behaviour:** Jobs are created and the builds are run along with other openjdk11 ones. The log in the [openjdk11-pipeline job](https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk11-pipeline/1854/console) had `10:54:43  Created job

[2022-03-07 11:08] sxa commented on #261
Running https://ci.adoptopenjdk.net/job/build-scripts/job/utils/job/pipeline_jobs_generator_jdk11u/89/console has generated the job although it [failed](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-x64-fast_startup/1/console) due to https://github.com/adoptium/infrastructure/issues/2491

[2022-03-07 11:09] sxa commented on #261
Leaving this open as we should determine why the log is claiming to be generating this jobs, but is not doing so.

[2022-03-07 13:40] adamfarley opened #262 "Request for weekly "Dry Run" (no publish) of the installer pipeline"
**Summary**

Please consider adding a dry run (i.e. no PUBLISH checkbox) of the installer pipeline onto the end of the weekly runs to validate it regularly.

Also perhaps rename the option to DRY_RUN and reverse the logic to make it consistent with the publish pipeline.

**Useful links**

https://github.com/adoptium/adoptium/issues/104#issuecomment-1035336197

[2022-03-08 00:14] YeeSkywalker commented on #256
Hi there, I am wondering if I could take this one? It would be much appreciated!

[2022-03-08 00:55] smlambert commented on #256
Go for it @YeeSkywalker !

[2022-03-09 15:48] sophia-guo commented on #219
sanity.external on JDK11 xlinux https://github.com/adoptium/ci-jenkins-pipelines/pull/263

[2022-03-09 20:26] #256 closed

[2022-03-09 22:03] smlambert opened #266 "Update the nightly build schedule to accommodate more geos"
In the last hours of a typical work day in Canada, all the test machines are in use and there are none available for use for running Grinders and development tasks.

This issue proposes looking at the build/test pipeline schedule and shifting it slightly to accommodate the teams based in EST and Mountain time (in Canada).

Looking here: https://ci.adoptopenjdk.net/view/Build%20and%20Test%20Pipelin

[2022-03-11 12:54] #243 closed

[2022-03-28 19:20] smlambert opened #273 "Enable weekly sanity.external testing on other versions besides jdk11"
We enabled weekly testing for jdk11 xlinux via https://github.com/adoptium/ci-jenkins-pipelines/pull/263, and now wish to extend the testing to jdk8/jdk17+ for that top-level target.

[2022-03-31 05:55] #184 closed

[2022-04-06 08:17] andrew-m-leonard opened #276 "Remove missleading "Created job.." msg"
The pipelines/build/common/build_base_file.groovy issues a "Created job.." message when starting a build, but it
hasn't actually created the job, that logic was removed a long time ago when concurrent pipelines support was added.

Remove the msg: https://github.com/adoptium/ci-jenkins-pipelines/blob/5edf557be5ce1598ea764fa6a985126d67621877/pipelines/build/common/build_base_file.groovy#L769

If pos

[2022-04-11 13:24] andrew-m-leonard opened #278 "Nightly build rating Slack msg "Detail" html link points at old build"
Current Detail link points at: https://ci.adoptopenjdk.net/view/Tooling/job/nightlyBuildAndTestStats_temurin/632/console
But latest is: https://ci.adoptopenjdk.net/view/Tooling/job/nightlyBuildAndTestStats_temurin/642/

[2022-04-12 07:01] zdtsw commented on #215
@smlambert could you assign this ticket to me? I will try update matrix and see if any better way to automatize this

[2022-04-12 07:11] zdtsw commented on #278
I think the problem is: every 12:15 (CET) and 14:15(CET) it posts twice to Slack build channel. First one at 12:15 with correct info/jenkins job link(build nr. N) , but the second one at 14:15 points back to old links (build nr. N-1).

[2022-04-12 10:53] zdtsw commented on #215
Good to know "trss" dashboard!
Yeah, I am going thro the code to get some idea how everything is gluing together.

I will try to update this one first,
in another thread/discussion to see if/which one(s) we can keep using and obsolete the others

[2022-04-12 12:23] zdtsw commented on #278
i did a quick check, could not find any job in https://ci.adoptopenjdk.net/ made a run around 14:15 :confused:

[2022-04-12 12:29] zdtsw commented on #276
I assume the error is in job e.g https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk17-pipeline/342/consoleFull
`(https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk17-pipeline/342/consoleFull#)[](https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk17-pipeline/342/consoleFull#)[](https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk17-pipeline/342/consoleFull#)[](https://ci.ad

[2022-04-12 16:08] zdtsw opened #281 "Bug: "build-script" folder in jenkins should exclude "smoketest jobs"
**What are you trying to do?**
SmokeTests jobs should be excluded from "build-script" which is set in the regexp filter in the view/folder of jenkins

**Expected behaviour:**
All jenkins folder under "build-scripts" should only list build job, which is used as input for generatBuildMatrix.sh.

**Observed behaviour:**
e.g https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/
should excl

[2022-04-12 16:09] zdtsw opened #282 "Bug: "build-script" folder in jenkins should exclude "smoketest" jobs"
**What are you trying to do?**
SmokeTests jobs should be excluded from "build-script" folder

**Expected behaviour:**
All jenkins folder under "build-scripts" should only list build job, which is used as input for generatBuildMatrix.sh.

**Observed behaviour:**
e.g https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/
should exclude all job matching pattern *SmokeTests

**Any other com

[2022-04-12 16:11] zdtsw commented on #215
created a new issue https://github.com/adoptium/ci-jenkins-pipelines/issues/282 which is related to how we use the script.

[2022-04-13 07:53] andrew-m-leonard commented on #278
@zdtsw good spot I hadn't noticed that, interesting

[2022-04-13 10:33] sxa commented on #278
Looks like this was probably from the backup server I was testing before we did the OS upgrade on the main one. I've shut that down now. Apologies for the confusion - I should have realised that's where it could have been coming from.

[2022-04-13 10:33] #278 closed

[2022-04-13 11:42] zdtsw commented on #281
duplicated as https://github.com/adoptium/ci-jenkins-pipelines/issues/282, this issue can be closed

[2022-04-13 11:42] #281 closed, assigned to nobody

[2022-04-16 15:34] zdtsw commented on #215
I guess to update READM.md , I need manually run generateBuildMatrix.sh + update README.md with output

[2022-04-29 12:13] #215 closed

[2022-05-05 13:59] zdtsw commented on #239
I think  [terminology check](https://github.com/adoptium/ci-jenkins-pipelines/blame/master/README.md#L1) has been disabled in https://github.com/adoptium/ci-jenkins-pipelines/pull/286 for README.md
If we have other md file with the same issue (e.g failed for 'node' to suggest  'nodejs') we can disable it  later.

[2022-05-12 19:43] #238 closed

[2022-05-17 17:23] sxa commented on #258
Publish job has now been publishing for a while - closing.

[2022-05-17 17:23] #258 closed

[2022-05-18 13:14] andrew-m-leonard opened #301 "Ability to run a Reproducible Build comparison Jenkins job to Verify two builds are identical"
To aid verification of reproducible builds, it would be nice to have a Jenkins job that takes parameters like:
- JDK 1 download "URL"
- JDK 2 download "URL"
- Platform (eg.MacOS_aarch64)

The job then downloads both JDKs and performs a strict reproducible build comparison on them to indicate if they are identical.
"Platform" is required as reproducible build verification will vary based on platfor

[2022-05-18 13:15] Haroon-Khel opened #302 "Release sign_installer jobs should stay around for longer"
A request/discussion for the [sign_installer](https://ci.adoptopenjdk.net/job/build-scripts/job/release/job/sign_installer/) jobs to stay 'locked' for releases.

This was an issue during the recent April release, where a x64 MacOS release build failed at the sign_installer stage. However I was not able to view the log as the job had already vanished after a nightlies run.

The artefacts of the bui

[2022-05-20 10:26] zdtsw opened #311 "Bug: PR-test jobs in Jenkins not working with GitHubCommitStatusSetter"
**What are you trying to do?**
PR test  jobs not working, we cannot use Jenkins to get change made in this repo.
Checking Github status is only used in interla PR tests, so it is not breaking "production" builds.
The last "green" PR test was made on 12th May, and first failed on 19th May

**Expected behaviour:**
Job can run without error

**Observed behaviour:**
see log: https://ci.adoptopenjdk.ne

[2022-05-24 11:20] sxa opened #312 "Jenkins warning about NODE_LABEL being undefined on build pipelines"
From the logs (Note, this is not specific to this particular job but appears to be the case on many of them. Potentially a conflict between the use of the name `NODE_LABEL` and `LABEL` but needs to be investigted and resolved as it is generating quite a bit of noise in the logs and is probably indicative of an underlying bug:

`WARNING	hudson.model.ParametersAction#filter: Skipped parameter `NODE_

[2022-05-24 11:21] sxa commented on #312
(There are quite a lot of these in the test jobs too e.g. `PLATFORM_AND_MACHINE`, `NON_AQA_TEST_REPOS` etc. but they can potentially be covered under a separate issue)

[2022-05-24 11:27] karianna opened #313 "import_lib.groovy should be turned into a proper shared library and added to Jenkins via Shared Libs mechanism"
Jenkins maintenance for this week has been completed. We've planned to have another one in the same slot next week. Today has included an update of many of the pipeline plugins. I've kicked off a new JDK8 "nightly without publish" pipeline at https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk8-pipeline/2131/ to verify that everything is still working as it should.

[39m](https://adoptium.sl

[2022-06-01 13:25] sxa opened #316 "Documentation across build+test on how to add a new platform"
We've added some platforms recently but we haven't had clear documentation on where all the bits are that have needed to be changed so we have ended up doing some rework. We should put together a definitive guide (I would suggest in the FAQ in this repository) about which files need to be modified in order to support build/test of a new platform in the Temurin pipelines.

[2022-06-02 06:42] zdtsw commented on #311
@karianna @sxa would you mind taking a look at this issue next week if it is related to jenkins upgrade?

[2022-06-07 08:56] zdtsw commented on #301
i do not quite follow this issue.
a jenkins job to download same JDK versions but from different URL(?) then use them build same code respectively and compare the outcome?

[2022-06-07 09:06] zdtsw commented on #301
in the case of URL1 and URL2, do you have one example?
I can only think of temurin*-binaries git repo.  When the upstream code has no change so the nightly build could produce the same binary.

[2022-06-07 09:21] andrew-m-leonard commented on #301
So reproducible builds will be "RELEASE=true" type builds, as that enables the --with-source-date=version and the reproducible flag.
So doing a release build twice for example, the URL1 could be to the binaries repo JDK.tar.gz and URL2 could be a re-build of the same release in a Jenkins job artifact.
Equally it could be for test/debug purpose so URL could be to where ever you place your JDK.tar.g

[2022-06-07 10:17] #311 closed

[2022-06-07 13:38] smlambert commented on #301
So this job will take 2 parameters, URL1, URL2 both of which would be expected to point to a build that has been run with RELEASE=true (but this will be an expectation that the user knows this and/or reads the fine print under the parameter.

As an additional note, it is similar to how test jobs can take CUSTOMIZED_SDK_URL, this includes if you have build something locally on your laptop and then

[2022-06-08 10:02] zdtsw commented on #301
Sum up after talk  with @andrew-m-leonard :
- release(reproducible) build is only applied on jdk19 (and will be back ported to jdk17 later), focus now is on jdk19(head) builds
- in reality we want to build twice on the same SHA from upstream(openjdk source) which generate two builds' artifacts correspondingly for downloadable as URL1 and URL2
- Preferably this should be a new dedicated jenkins job

[2022-06-08 10:43] sxa opened #318 "build-pipeline-generator does not run correctly on non-controller node"
**What are you trying to do?** Get [build-pipeline-generator](https://ci.adoptopenjdk.net/job/build-scripts/job/utils/job/build-pipeline-generator) to run

**Expected behaviour:** Generates build jobs

**Observed behaviour:** Faills over with a failure to extract message when run on the C3jenkins "alternate master" node.

**Any other comments:** I have run the job manually after disabling C3jenkin

[2022-06-08 10:44] sxa opened #319 "refactor_openjdk_release_tool does not run correctly on non-controller node"
**What are you trying to do?** Get [refactor_openjdk_release_tool](https://ci.adoptopenjdk.net/job/build-scripts/job/release/job/refactor_openjdk_release_tool) to run

**Expected behaviour:** Publish nightly builds to github

**Observed behaviour:** Falls over with a failure to locate a suitable java when run on the new C3jenkins node:
[code]

**Any other comments:**

[2022-06-08 20:34] sophia-guo opened #323 "Some builds didn't trigger aqa-test jobs even with parameter "ENABLE_TESTS": true"
Some builds didn't trigger aqa-test jobs even with parameter "ENABLE_TESTS": true.

For example https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk/job/jdk-linux-aarch64-hotspot/618/
smoke tests was triggered but none of aqa-tests were triggerred.

[2022-06-10 02:50] AdamBrousseau commented on #196
I think we're happy with using the param at build time for the release builds to overwrite what's in the config files.

[2022-06-10 02:50] #196 closed

[2022-06-14 14:39] andrew-m-leonard opened #325 "Confusing BootJDK environment settings for builds within a docker container"
When pipelines/build/common/openjdk_build_pipeline.groovy starts a build within a docker container, it utilises the Jenkins
docker plugin which by default inherits environment variable settings from the host:
https://github.com/adoptium/ci-jenkins-pipelines/blob/dec39227bc0bcf3069f54aef298a7872ab451cf0/pipelines/build/common/openjdk_build_pipeline.groovy#L1600

This means the JDKnn_BOOT_DIR agent

[2022-06-14 14:46] sxa commented on #325
All of the docker build images should set them directly e.g. https://github.com/adoptium/infrastructure/blob/69b696162f37caf612ae7a035c4a8659a64f8f3a/ansible/docker/Dockerfile.Alpine3#L16 so I can't see why it would make more sense to pull the variable from the host in preference to that, if that's what's really happening.

[2022-06-14 14:52] andrew-m-leonard commented on #325
It is, and always has been a confusion I believe. However, if we stop inheriting the host agent environment, it's possible other builders like OpenJ9 might have issues, @AdamBrousseau ?

[2022-06-14 15:17] zdtsw commented on #325
from https://support.cloudbees.com/hc/en-us/articles/226520788-Control-environment-variables-inside-a-Docker-container
`By default, when using the Docker Pipeline plugin the node’s environment variables will not be propagated to the docker container - since with Docker you want to get isolate environments. You can check this [here](https://github.com/jenkinsci/docker-workflow-plugin/blob/7084130be

[2022-06-15 14:40] sophia-guo commented on #323
Thanks @andrew-m-leonard . Yes AQATest in ci-jenkins-pipeline doesn't support both 'temurin' and 'hotspot'. If Variant is 'hotspot' `Unrecognised build variant: hotspot ` exception will throw. Expected.

[2022-06-16 06:47] zdtsw opened #328 "sbom cannot be query directly from api.adoptium.net"
**Expected behaviour:**
when using api.adoptium.net to query for sbom, should get correct return from swagger and using curl/wget

**Observed behaviour:**
on /binary endpoint
[code]
on /assets endpoint
`https://api.adoptium.net/v3/assets/latest/17/hotspot?architecture=x64&image_type=sbom&os=linux&vendor=eclipse`
server response []
client response with all other binary_type(e.g jdk jre debugimage t

[2022-06-19 05:42] zdtsw commented on #328
now we have two json files generated
![Screenshot from 2022-06-19 07-41-13](https://user-images.githubusercontent.com/915053/174467556-f01bdbe5-3ae7-4ec9-ae27-1a7741ec97f2.png)

[2022-06-21 05:34] zdtsw commented on #328
![Screenshot from 2022-06-21 07-33-49](https://user-images.githubusercontent.com/915053/174723640-ef714db0-3f82-49a0-9381-95e214d2c04f.png)
now release binary git repo has two json files.

[2022-06-25 12:37] zdtsw commented on #328
issue has been resolved, finally updated pushed to production api server and everything works fine.

[2022-06-25 12:37] #328 closed

[2022-06-28 11:24] andrew-m-leonard opened #345 "pipelines/library functions don't always load"
[code]

The functions are loaded in this rather odd way:
https://github.com/adoptium/ci-jenkins-pipelines/blob/3ce38164e391ec211b0c8340af0b4575a85961d6/pipelines/build/common/import_lib.groovy

We should instead integrate these ci-jenkins-pipelines groovy library functions (https://github.com/adoptium/ci-jenkins-pipelines/tree/master/pipelines/library/src) into our proper Jenkins managed helper he

[2022-06-28 12:09] zdtsw commented on #345
I can only think of the reason why our build system has two different shared-library is:
the _jenkins-helper_ git repo captures all generate functions of operation to jenkins controller. so anyone can clone and use it in their jenkins settings.
code in _ci-jenkins-pipeline/pipelins/libary/src_ are specific logic to openjdk and temurin-build scripts.

since we need both , we have 2 loader
library(i

[2022-06-28 12:25] zdtsw commented on #345
I take it back.
we do have tight check to api, jenkins controller in _jenkins-helper_ repo , so it should be open to import these code from ci-jenkins-pipeline to it

[2022-06-28 14:21] andrew-m-leonard commented on #345
We could just move the code as well..

[2022-06-28 14:34] zdtsw commented on #345
yeah, the easiest way is to move all these code
just need to think about how these testcases will be run

[2022-06-28 17:40] smlambert commented on #345
Remembering the main consideration when refactoring is "who is using the code" and "how will they be affected".

[2022-06-28 18:17] smlambert commented on #345
Yes, I am just noting that AQAvit pipelines also use jenkins-helper, not just build pipelines (and while I know you are not yet proposing changing things so much that the current API is changed).

[2022-06-28 18:26] andrew-m-leonard commented on #345
Yeah, i'm in the middle as to whether it's the right place to put them.. the jenkins-helper is basically Jenkins node/machine helper functions... these are specific helper functions for the ci-jenkins-pipelines scripts.

@zdtsw we should try the simple fix to start with and ensure the library/src folder contains no pre-existing .git repo (that maybe corrupt or...), ie.a rm here: https://github.com

[2022-06-28 20:47] andrew-m-leonard commented on #345
Maybe, needs investigating, this is the code in question: https://github.com/adoptium/ci-jenkins-pipelines/blob/d6e5fb6f76b3f29431d1a92b198a0a5c1ba68b33/pipelines/build/common/kick_off_build.groovy#L39

[2022-06-28 20:49] andrew-m-leonard commented on #345
The build jobs do cache the workspace clone so cleaning the whole job would impact build time...
I'd recommend just the pipelines/library git repo it creates

[2022-06-29 03:24] AdamBrousseau commented on #345
Yes

[2022-07-04 14:43] zdtsw commented on #301
Ref: https://github.com/adoptium/temurin-build/issues/3015

[2022-07-05 11:24] #345 closed

[2022-07-05 16:41] #313 closed

[2022-07-05 17:17] andrew-m-leonard opened #357 "import_lib.groovy needs removing from docs/diagram.md"
import_lib.groovy has been removed, the flow diagram needs updating:
  docs/diagram.md

[2022-07-06 16:14] andrew-m-leonard opened #359 "pipeline job does not clear workspace of any previous pipeline artifacts"
From submitting a pipeline job for just one platform I happen to see from the console that the workspace/target folders contain previous pipeline job artifacts. In theory this should be fine because as each platform job completes it deletes anything for that platform that might be there, but I think it's a slightly risky method, especially if say a jenkins methods fails but doesn't say file the pi

[2022-07-08 08:34] #357 closed

[2022-07-08 10:17] andrew-m-leonard commented on #359
I don't consider this a problem, as when a sub-build job completes it then cleans that platform previous artifacts and then archives the new job output for this pipeline. It is not necessary to clean at the start.

[2022-07-08 10:17] #359 closed

[2022-07-26 21:44] llxia opened #373 "Archive AQA TAP files regardless of the status of non-test jobs"
**What are you trying to do?**
Collect AQA TAP files

**Expected behaviour:**
Archive AQA TAP files regardless of the status of non-test jobs. If some non-test jobs fail (i.e., package_binaries), the build should keep going with RED status, so the parent can copy back the artifacts.

**Observed behaviour:**
The build is in a FAILURE state and none of the AQA TAP files are copied and archived into

[2022-08-02 07:25] zdtsw opened #374 "July release: Missing windows msi for jre"
**Expected behaviour:**
should have msi for both jdk and jre

**Observed behaviour:**
missing msi for jre

**Any other comments:**
slack conversation:  https://adoptium.slack.com/archives/CLCFNV2JG/p1658500701043129

[2022-08-03 19:03] sophia-guo opened #375 "[July release]: jdk8 ppc64le sha file is incorrect"
July release: jdk8 ppc64le sha file is incorrect with extra folder information

[code]
https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk8-pipeline/2202/artifact/target/linux/ppc64le/temurin/OpenJDK8U-jdk_ppc64le_linux_hotspot_8u342b07.tar.gz.sha256.txt

Check nightly one, didn't see the same issue.

[2022-08-10 13:00] andrew-m-leonard opened #377 "Build job does not fail if it does not produce all the required artifacts"
The recent Solaris missing metadata was unseen for 2 months, as the build job succeeds even though not all the required artifacts were produced. (https://github.com/adoptium/temurin-build/issues/3061)

[2022-08-11 09:22] andrew-m-leonard opened #379 "jdk19 & jdk20 build pipeline fails to find config"
https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk19-pipeline/179/console
[code]

[2022-08-11 12:28] #379 closed

[2022-08-16 14:12] zdtsw commented on #374
verified in new build https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk11-pipeline/2044/artifact/target/windows/x64/temurin/ jre msi created.

[2022-08-16 14:12] #374 closed

[2022-08-23 12:33] smlambert opened #383 "Reduce TIME_LIMIT for smoke tests"
The current set of smoke tests should only take a few minutes to run, and taking into account that a few more smoke tests for temurin-build should get added, it is reasonable to reduce the TIME_LIMIT for those tests from the default 10hrs, to something much smaller, like 1 hr or 30 min.

This can be done by explicitly setting TIME_LIMIT onto the set of smoketest parameters here:
https://github.com

[2022-08-24 00:49] smlambert commented on #316
Test 'how-to' is here: https://github.com/adoptium/aqa-tests/wiki/Adding-AQAvit-support-for-a-New-Platform

[2022-08-24 01:06] smlambert opened #384 "Incorporate triggerRemoteJob of jck tests for weekly/release pipeline runs on remote Jenkins server"
Just as we trigger smoke tests and AQAvit tests from the build pipelines, we will trigger jck tests (on the private ci.eclipse.org/temurin-compliance server) for the weekly and release pipelines.

We have the parameterized-remote-trigger-plugin installed on ci.adoptopenjdk.net (see https://github.com/jenkinsci/parameterized-remote-trigger-plugin/blob/master/README_PipelineConfiguration.md for deta

[2022-08-24 07:01] zdtsw commented on #384
the difficulties of using this plugin:
- to get the token/credential for the remote server(i.e ci.eclipse.org/temurin-compliance) with build permission. this need get EF involved and generate that for us.
- to have a secured way store this information and config it on our server(i.e ci.adoptopenjdk.net).e.g config.xml of jenkins or by Jcasc

[2022-08-24 10:57] zdtsw opened #385 "jenkins job "jemmy" not working"
Decide if we want to continue  job https://ci.adoptopenjdk.net/job/jemmy/
- either to remove/stop this job (it is in Pending status at the moment)
- or find an available agent to run it on

**Problem description:**
This job runs daily, the last green one was from Dec 14, 2021, 11:26:07 PM
Since then, it failed with missing javadoc on the agent `Unable to find javadoc command: The environment varia

[2022-08-24 23:28] smlambert commented on #384
Related: https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1673

Note this one is already assigned to @sophia-guo

[2022-08-25 09:27] gdams commented on #77
I have provisioned a Windows arm64 machine in Azure (https://github.com/adoptium/infrastructure/issues/2708) Closing

[2022-08-25 09:27] #77 closed

[2022-08-29 12:24] zdtsw opened #389 "weekly pipeline failed even downstream jobs are all green"
from https://ci.adoptopenjdk.net/job/build-scripts/job/weekly-openjdk11-pipeline/85/
with error:
`Also:   org.jenkinsci.plugins.workflow.steps.MissingContextVariableException: Required context class hudson.FilePath is missing
Perhaps you forgot to surround the code with a step that provides this, such as: node`

[2022-08-30 15:37] #389 closed

[2022-09-01 06:01] zdtsw opened #392 "Grinder should use the same parameter value from upstream job"
**Describe the bug**
Trying to run grinder from test job, but grinder trying to download "nightly" jdk from API VS original upstream job is copying jdk from build artifact
This could give the false test result if jdk is not the one from last build.
Since we have some problems to download the latest ones from jdk19/20 therefor grinder failed,
But for other jdk versions, grinder wont failed to downl

[2022-09-01 16:09] sophia-guo commented on #392
It is upstream in the template. https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/testJobTemplate#L46.

It is the way how the Test_Job_Auto_Gen is configured. @llxia any concern if we set sdk_resource to be upstream by default in the job https://ci.adoptopenjdk.net/view/Test_grinder/job/Test_Job_Auto_Gen/configure?

[2022-09-01 17:27] smlambert commented on #392
I have changed the Test_Job_Auto_Gen SDK_RESOURCE to default to upstream.

[2022-09-01 17:56] llxia commented on #392
Yes, it is ok to set SDK_RESOURCE to default to upstream in Test_Job_Auto_Gen. The correct way is to set the value in the pipeline. @sophia-guo you have already figured it out - https://github.com/adoptium/ci-jenkins-pipelines/pull/391.

[2022-09-01 20:52] #392 closed

[2022-09-05 12:00] zdtsw opened #395 "To set node selection to "build&&$platform" for running reproduce comparison job"
See:
working: https://ci.adoptopenjdk.net/view/work-in-progress/job/wen_reproducible_comparision/2/console
not working: https://ci.adoptopenjdk.net/view/work-in-progress/job/wen_reproducible_comparision/3/console

Reason:
https://github.com/adoptium/ci-jenkins-pipelines/blob/master/tools/reproduce_comparison/Jenkinsfile#L17 is only set to use the same platform node
it could be a one with test labe

[2022-09-05 12:26] zdtsw commented on #301
test:

- positive(same build to test with itself)https://ci.adoptopenjdk.net/view/work-in-progress/job/wen_reproducible_comparision/8/
- negative(different build result one from x64 linux another from ppc64le) https://ci.adoptopenjdk.net/view/work-in-progress/job/wen_reproducible_comparision/9/console

[2022-09-05 13:38] zdtsw opened #397 "Ability to run a Reproducible Build comparison Jenkins job to Verify two builds are identical"
This is the top epic which should include works for different OS:
1. Linux: https://github.com/adoptium/ci-jenkins-pipelines/issues/301
2. Windows
3. Mac

Description for this epic:
To create Jenkins job which does comparision work for the compressed file we create after build.
read https://github.com/adoptium/ci-jenkins-pipelines/issues/301 for more discussion

[2022-09-05 13:40] zdtsw opened #398 "Ability to run a Reproducible Build comparison Jenkins job to Verify two Windows builds are identical"
To aid verification of reproducible Windows builds, it would be nice to have a Jenkins job that takes parameters like:

JDK 1 download "URL"
JDK 2 download "URL"
Platform (eg.Windows)

The job then downloads both JDKs and performs a strict reproducible build comparison on them to indicate if they are identical.
"Platform" is required

[2022-09-05 13:41] zdtsw opened #399 "Ability to run a Reproducible Build comparison Jenkins job to Verify two MacOS builds are identical"
To aid verification of reproducible MacOs builds, it would be nice to have a Jenkins job that takes parameters like:

JDK 1 download "URL"
JDK 2 download "URL"
Platform (eg.MacOS)

The job then downloads both JDKs and performs a strict reproducible build comparison on them to indicate if they are identical.
"Platform" is required as reproducible build verification will vary based on platform (eg.M

[2022-09-05 13:43] zdtsw commented on #399
some part of the logic has been done in https://github.com/adoptium/ci-jenkins-pipelines/blob/master/tools/reproduce_comparison/compareMacOS.sh

Missing piece is how to get the cert on MacOS to set proper parameter https://github.com/adoptium/ci-jenkins-pipelines/blob/master/tools/reproduce_comparison/Jenkinsfile#L51

[2022-09-05 13:45] zdtsw commented on #301
to make it easier to track progress:
move this issue to only for Linux build
create top epic https://github.com/adoptium/ci-jenkins-pipelines/blob/master/tools/reproduce_comparison/Jenkinsfile#L51
and two new issue for MacOS and windows respectively

[2022-09-05 18:31] smlambert commented on #385
We do not use jemmy at the project currently, but it may be something dev teams want to pick up from us (community build & test project).

The jenkins job refers to the old / READ-ONLY mercurial location http://hg.openjdk.java.net/code-tools/jemmy/v3/ which doesn't look like its been changed since 2019-06-03.  Now all things are moved to github https://github.com/openjdk/jemmy-v3, with more recent

[2022-09-05 19:29] sxa commented on #375
Ref https://github.com/adoptium/temurin-build/issues/2865

[2022-09-06 13:08] sophia-guo opened #400 "weekly pipeline failed with 'ERROR: Failed to copy artifacts from openjdk11-pipeline with filter: workspace/target/*'"
All weekly pipeline failed with following message even all jdk pipeline builds are green.

[code]
https://ci.adoptopenjdk.net/job/build-scripts/job/weekly-openjdk11-pipeline/86/

[2022-09-06 13:09] sophia-guo commented on #400
build pipelines copyartifacts to `target: "target/${config.TARGET_OS}/${config.ARCHITECTURE}/${config.VARIANT}/`. No artifacts are under `workspace/target/*`

[2022-09-06 14:21] #400 closed

[2022-09-06 20:53] sophia-guo commented on #384
For temporary trying and testing we will need to add the my personal eclispe-temurin API token in adoptium jenkins.

[2022-09-07 05:30] zdtsw commented on #301
yes, i have a draft https://github.com/zdtsw/ci-jenkins-pipelines/commit/da40ea15634efffe426096baa6316d9e24af37a1 which i was trying to test it on weekly jdk19 and see if it gets all tar and zip files needed before making a PR to master.

[2022-09-08 15:04] jerboaa opened #404 "jtreg builds are broken"
https://ci.adoptopenjdk.net/view/Dependencies/job/dependency_pipeline/ seems broken for a while now. Specifically, JDK 20 head will need `JTreg 7+1` at least and it would be good to get it building. See

https://mail.openjdk.org/pipermail/jdk-dev/2022-September/006906.html

The build fails with:
[code]

The build machine will have to have JDK 11+ and possibly JDK 8 installed going forward.

[2022-09-09 15:55] zdtsw commented on #384
https://issues.jenkins.io/browse/JENKINS-68898
a bug in this plugin (i assume we are using 3.1.6.1 in our public jenkins server) so we cannot use multiple parameters

[2022-09-12 13:35] karianna commented on #384
Correct we're waiting for an upstream fix

[2022-09-12 15:26] sophia-guo commented on #384
https://issues.jenkins.io/browse/JENKINS-68898 is talking about multiple lines parameters, which has been documented well. There is not issue with 'multiple parameters' https://github.com/adoptium/ci-jenkins-pipelines/issues/384#issuecomment-1242155047.

[2022-09-12 18:38] sophia-guo commented on #383
As mentioned in https://github.com/adoptium/ci-jenkins-pipelines/pull/403#issue-1367401699 all related fix will make sure the new smoketests job be created with reduced TIME_LIMIT=1. However for existing ones there is no way for fix it as the jobs were created with TIME_LIMIT=10 as a  string not a variable.

That is to fully fix this issue we need to regenerate all existing smoke tests jobs. @smla

[2022-09-13 01:03] smlambert commented on #383
Right, so we can run a nightly or weekly pipeline with the AQA_AUTO_GEN flag to true.

[2022-09-13 06:17] zdtsw commented on #383
this should work now after #403 got merged
![Screenshot from 2022-09-13 08-15-37](https://user-images.githubusercontent.com/915053/189824401-e7b4b132-6b07-4e5e-9bbd-b93b88b08fb4.png)  from https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk19/job/jdk19-alpine-linux-x64-temurin_SmokeTests/

[2022-09-13 12:11] zdtsw opened #406 "Nightly build stats build is not working on jdk8"
**What are you trying to do?**
we do have build 2 days ago, but the result saying jdk8 last published 7 days ago
this is because we made an EA build for jdk8 and API sort it by name which became the first element to return https://github.com/adoptium/ci-jenkins-pipelines/blob/master/tools/nightly_build_and_test_stats.groovy#L50

so jdk8u352-b05-ea will be used all the time for jdk8 nightly build s

[2022-09-13 12:16] zdtsw commented on #406
not really sure if we do need `jdk8u352-b05-ea` set to release_type="ea"
or maybe we should have another value e.g "other" so any build not belong to ga or nightly, should be the others?

if we do not want to change anything in the API part, (e.g remove that record or set it ea to something else for jdk8u352-b05-ea, then we need to hardcode our build to skip jdk8u352-b05-ea. =>  `def ts = assetsJs

[2022-09-13 12:40] jerboaa commented on #406
Tagging on `&sort_order=DESC&sort_method=DATE` to the API call should be sufficient to fix it.

[2022-09-13 12:43] jerboaa commented on #406
also add `&pages=1` as you've suggested while you're at it ;-)

[2022-09-13 12:49] zdtsw commented on #406
ahhhhhhhh, how could i missed that one

[2022-09-13 14:48] sophia-guo commented on #404
The current jenkins job is using latest adoptopenjdk/centos7_build_image. The default java is 8 there are other jdk versions pre-installed.

[code]

[2022-09-13 15:13] jerboaa commented on #404
Yeah, the fix is to use `JAVA_HOME=/usr/lib/jvm/jdk-11` or something like that when building jtreg tip. It would be best if there was a separate build for `jtreg7+1` (instead of tip).

[2022-09-13 15:28] sophia-guo commented on #383
yeah, didn't realized that [TIME_LIMIT is set by variable ](https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/testJobTemplate#L371).

Agreed that we can keep the existing job configurations as is (default 10). For non-existing ones I don't see the reason that we can't generate the job with default 1 unless smoketests will be expected to run longer than 1 hour. I'm fine with either

[2022-09-13 15:40] sophia-guo commented on #404
Yes, jtreg-7+1 should be added. Both jtreg7+1 and tip should use a more recent jdk11 to build.

[2022-09-13 17:44] #406 closed

[2022-09-13 19:05] sophia-guo opened #409 "Integrate build script of openjdk/code-tools under tools/"
openjdk/code-tools are used by developers working on the OpenJDK code base. https://openjdk.org/projects/code-tools/ . Integrating interesting tools under tools/ and building in Adoptium will setup a centralized location for developers to download and use them conveniently.

Currently in Adoptium we have job https://ci.adoptopenjdk.net/view/Dependencies/job/dependency_pipeline/  building asmtools

[2022-09-14 08:48] #395 closed

[2022-09-14 09:38] zdtsw commented on #409
https://ci.adoptopenjdk.net/view/Test_system/job/dummy.systemtest.getDependency/ runs every months,
https://ci.adoptopenjdk.net/view/Test_upstream/job/UpstreamAutotest runs every day
dont know if they are related to code-tools?

[2022-09-14 09:44] zdtsw opened #411 "Have a better view/structure to group jenkins jobs"
(to not confuse the job for openjdk test and the job are still in progress, below, test means the former, and WIP refers to the later)

After years of creating new jobs including both production and WIP/personal jobs, our public jenkins [ci.adoptopenjdk.net](https://ci.adoptopenjdk.net/ should have a better structure to group all these jobs.
The benefits are:
1. easy to navigate and find jobs
2. k

[2022-09-14 09:46] zdtsw commented on #282
close this
include in https://github.com/adoptium/ci-jenkins-pipelines/issues/411

[2022-09-14 09:46] #282 closed

[2022-09-14 09:59] zdtsw commented on #409
have it disabled now

[2022-09-14 10:07] jerboaa commented on #409
Thanks! Removal of the Jenkins file is here:
https://github.com/adoptium/aqa-tests/pull/3964

[2022-09-14 11:42] #404 closed

[2022-09-14 13:22] zdtsw commented on #301
created job : https://ci.adoptopenjdk.net/view/ReproducibleBuild/job/reproducible_comparision/

[2022-09-15 06:33] #276 closed

[2022-09-15 07:23] zdtsw opened #413 "Enable github bot to close stale issue"
Similar to the request made in temurin-build repo:
To enable github bot (similar to https://github.com/adoptium/adoptium-support/pull/493) can help us to close and keep ones we should pay more attention.

Suggestion is to make 90 days as graceful period. after that 30 days to auto close issue.

[2022-09-15 09:22] zdtsw commented on #121
as part of issue https://github.com/adoptium/ci-jenkins-pipelines/issues/234

[2022-09-15 09:23] zdtsw commented on #273
related to issue https://github.com/adoptium/ci-jenkins-pipelines/issues/219

[2022-09-15 09:25] zdtsw commented on #195
duplicated as https://github.com/adoptium/ci-jenkins-pipelines/issues/121

[2022-09-15 09:49] zdtsw commented on #156
theoretically authorizationMatrix can be applied per jenkins instance from "global config"
so these will be IaC as part of the controller

[2022-09-15 11:17] zdtsw commented on #143
is this still a valid issue?

[2022-09-15 11:21] zdtsw commented on #84
is this still a valid issue? or has it done

[2022-09-15 11:21] AdamBrousseau commented on #177
Changing which node the generator uses doesn't solve the problem. It simply moves it to another node. Unless the executor gets released while it waits, then the issue is still valid.

[2022-09-15 14:36] llxia commented on #143
I think this is valid.
In addition, I think we should do a sniff for all test-related repos and pass all test repo SHAs to test builds to ensure we are running the same test materials in one pipeline. Otherwise, we would have a similar problem. If a PR is delivered between test builds, we could end up running different test materials in the same pipeline.

FYI @smlambert

[2022-09-15 15:25] zdtsw commented on #17
Could someone summarize what is the status of this issue?
Have we solved it, or only had a workaround on jenkins agents? and if it is only for openj9 build. but not temurin's

[2022-09-16 01:05] AdamBrousseau commented on #17
From Semeru/OpenJ9 perspective it is not solved. I don't believe it is specific to OpenJ9. The workaround is you must run docker compiles on a machine where the host's user id (number) matches the user id in the container. This is due to host folders being mounted and written to from in the container during a build.

[2022-09-16 09:47] karianna commented on #84
Still to be done (in terms of full automation)

[2022-09-16 10:03] #384 closed

[2022-09-16 12:58] zdtsw commented on #17
if you are runing  `docker.image('adoptopenjdk/centos7_build_image').inside(){...}` on a machine which jenkins user is not set to e 1000:1000, cannot use `--user` flag?
e.g ` docker.image('adoptopenjdk/centos7_build_image').inside("-u jenkins:jenkins"){...}`

we have `dockerArgs`  to config docker run parameter and pass into the pipeline

[2022-09-19 15:44] AdamBrousseau commented on #17
I got curious.
Looks like dockerArgs got overloaded when this was added (cc @gdams )
https://github.com/adoptium/ci-jenkins-pipelines/pull/350
So it is now used for the pull command as well as when starting the container. If I hack out the pull usage to test it, it still hangs on the checkout. I assume because the plugin adds the uid still.
[code]

[2022-09-27 09:57] zdtsw opened #417 "Be able to build with a tag for ci-jenkins-pipeline repo, rather than use "master" for branch"
To be able to have reproducible build, we need to have fixed git tag on each repo, including ci-jenkins-pipeline, temurin-build and each jdk source repo.

https://github.com/adoptium/temurin-build/issues/3091 has covered the jdk source repo
https://github.com/adoptium/temurin-build/issues/3103 has covered temurin-build part.
this issue is for the ci-jenkins-pipeline part.
  `  "pipeline_branch": `

[2022-09-28 10:28] zdtsw opened #419 "Add support to have configurable tag when pulling down jenkins-helper repo"
https://github.com/adoptium/jenkins-helper is not often changed, but in order to make reproducible build, we need to have either tag or SHA1 when calling shared library

Currently, we have code like `  library(identifier: 'openjdk-jenkins-helper@master')`  or ` def JobHelper = context.library(identifier: 'openjdk-jenkins-helper@master').JobHelper` hardcoded in ci-jenkins-pipeline.
since Jenkins pl

[2022-09-29 10:50] sxa opened #422 "Remote trigger to Temurin Compliance server should not occur when nightly testing is disabled"
**Expected behaviour:** Weekly runs, which have testing disabled, should not initiate the TC trigger

**Observed behaviour:** Weekly jobs are running the TC trigger during lockdown

**Any other comments:** The logs currently don't show when the trigger is being executed in the logs - ideally we should add this in since it's currently happening silently which made this harder to look into
Sample lo

[2022-10-03 02:32] sophia-guo commented on #422
This also suggests weekly-openjdk*-pipeline should be disabled if testing is disabled? My understanding is the weekly openjdk pipeline is mainly to run full set of defined tests( nightly + weekly) by running the openjdk build pipeline first. If testing is disabled should those pipelines be disabled? That means the openjdk build pipeline will not be triggered too. Currently those pipelines are trig

[2022-10-03 08:32] zdtsw opened #425 "Error: GH action super-linter failed on groovy linter with warnings not real error"
GH action linter check start to fail during this weekend.

Have not identify if it is a change made recently in codenarc or the npm-groovy-lint or by  super-linter
which does more changes than before.
so the file not been touched start to show up warnings

and the result seems not only count "error" but also "warnings" so we get failed GH action runs

e.g

[code]

[2022-10-03 08:53] zdtsw commented on #425
should have "https://github.com/nvuillam/npm-groovy-lint" to set` --failon error `so we can ignore warning.
unless we decide to fix all warning

[2022-10-03 09:14] zdtsw opened #426 "openjdk pipeline not working, with error "failed to write new configuration file /home/jenkins/.jenkins/workspace/build-scripts/openjdk17-pipeline/.git/config.lock""
Thank you for reporting a broken build! Please fill in the following details:

- **Jenkins link to the failing log:**
https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk17-pipeline/514/console
https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk17-pipeline/504/console
thread: https://adoptium.slack.com/archives/C09NW3L2J/p1664779332872109

- **Which platforms (OS+arch) are affected:** A

[2022-10-03 09:25] sxa commented on #426
This is due to an out of space condition. Since we are running multiple copies of `openjdkXX-pipeline` at the weekend there is a new `openjdkXX-pipeline@X` directory created for each. This uses up additional space over what is expected.

It looks like the `weekly-openjdkXX-pipeline` jobs also store copies of the tarballs in the server worksapce in addition to the individial pipeline jobs causing d

[2022-10-03 09:28] sxa commented on #426
It also looks like we're getting build-up of old artifacts in the workspaces, suggesting that things are not being correctly cleaned out - note the artifacts from the last two weeklies being left in the weekly pipeline's JDK11 workspace here:
[code]

[2022-10-03 09:30] zdtsw commented on #426
we added the archive build from downstream job to weekly pipeline for future reproducible comparison to use.
this could be one reason it uses more space than months ago, but also we should try to disable jdk18 jobs once code froze is done.

[2022-10-03 09:31] sxa commented on #426
We need to ensure that this build up does not occur. Ideally by clearing out these directories at the start of the weekly job so that this does not occur, as it looks from the directories here as though it's going to build up continuously:
[code]

[2022-10-03 09:31] sxa commented on #426
This is being left in the workspace, not as the result of the archiving which is stored elsewhere.
It's not being cleared up from the intermediate machine.

[2022-10-03 09:38] sxa commented on #426
I have removed the weekly-openjdkXX-pipeline directories on the machine for 11, 17 and 19 for now and will re-run the weekly 17 pipeline, but this will need to be understood and fixed before the next weekly run otherwise we're running the risk of continually chewing up space in an uncontrolled manner. I can also see that the weekly pipelines do not appear to have passed for some time so that shoul

[2022-10-03 10:40] zdtsw commented on #425
report issue in https://github.com/github/super-linter/issues/3391

[2022-10-03 10:54] sxa commented on #426
https://ci.adoptopenjdk.net/job/build-scripts/job/weekly-openjdk17-pipeline/88/console failed badly e.g. this is from one of the subjobs (https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk17-pipeline/516/console):

[code]

[2022-10-03 11:11] zdtsw commented on #426
re-run weekly jdk17.
above failed reason is jenkins job/pipeline did not get regenerated successfully  due to "No space left on device" https://ci.adoptopenjdk.net/job/build-scripts/job/utils/job/build-pipeline-generator/

[2022-10-03 15:01] sophia-guo commented on #422
Thanks @sxa @andrew-m-leonard for confirming that weekly openjdk pipelines are also regular openjdk builds for all different vendors. For non-temurin ones they are only running weekly so even if testing is disabled we'd still like to keep the pipeline running to build jdk.

In that case would it be helpful to disable weekly temurin build if testing is disabled?

[2022-10-04 06:15] zdtsw opened #428 "Fix: groovy linter warnings"
To fix all the linter Warnings and preferable Info from GH action super-linter
Goal:  which out any codenarc rule excluded , we should keep
[code]

example run: https://github.com/adoptium/ci-jenkins-pipelines/actions/runs/3177396948/jobs/5177786644

[2022-10-04 07:21] zdtsw commented on #426
looks like https://ci.adoptopenjdk.net/job/build-scripts/job/weekly-openjdk17-pipeline/89/console is working again.

[2022-10-04 08:01] andrew-m-leonard commented on #426
i'll work on fixing this

[2022-10-04 12:09] zdtsw commented on #425
For tractability:
so to summarize a bit for what happened for the linter incident (follow the timeline):

- 10 months ago super-linter enabled "--failon warning" by default for all groovy checks,

- on 25th July super-linter released v4.9.5 and a new docker image ghcr.io/github/super-linter:v4.9.5

- on 2nd Aug super-linter release a new docker image ghcr.io/github/super-linter:v4.9.6 (https://git

[2022-10-04 12:30] sophia-guo commented on #425
My PR linter job got similar output but failed and reported one error. https://github.com/adoptium/ci-jenkins-pipelines/actions/runs/3177396948/jobs/5177786644 . Is that the same issue?

[2022-10-04 14:00] #422 closed

[2022-10-04 14:54] andrew-m-leonard commented on #426
The openjdk17-pipeline jobs were not cleaning their workspace at the end of the job, nor at the start which actually meant they could potentially pick up old builds.
The fix is to clean the workspace at the start and end.

I believe the following large workspaces can be deleted on C3jenkins:
[code]

[2022-10-04 16:19] sophia-guo opened #432 "Limit checksum `sha256sum ` per ${config.TARGET_OS}/${config.ARCHITECTURE}/${config.VARIANT}`"
Openjdk pipeline has been deleted artifacts[ per ${config.TARGET_OS}/${config.ARCHITECTURE}/${config.VARIANT} by parallel ](https://github.com/adoptium/ci-jenkins-pipelines/blob/master/pipelines/build/common/build_base_file.groovy#L842). And in the same way [copyArtifacts ](https://github.com/adoptium/ci-jenkins-pipelines/blob/master/pipelines/build/common/build_base_file.groovy#L850-L857). Howeve

[2022-10-04 19:14] #426 closed

[2022-10-05 06:48] zdtsw commented on #428
Below are the warnings that cannot be auto-fixed:
 we might need to have a discussion to see if exclude or fix them:
- LineLength easy but a lot
- ExplicitCallToEqualsMethod easy
- NestedBlockDepth difficult
- ThrowExceptionFromFinallyBlock difficult and need review
- PrivateFieldCouldBeFinal need review each
- ReturnNullFromCatchBlock difficult and need review each
- DuplicateMapLiteral unsure
-

[2022-10-05 11:53] zdtsw opened #433 "Align jenkins jobs' parameters' names"
Some parameters we use for openjdk pipeline and downstream build jobs are not matching.

It is good to align them to make code more clear , e.g:
- cleanWorkspaceBeforeBuild vs CLEAN_WORKSPACE
- useAdoptBashScripts vs USE_ADOPT_SHELL_SCRIPTS

The goal is to
1. change `CLEAN_WORKSPACE` to `CLEAN_WORKSPACE_BEFORE_BUILD` , change `useAdoptBashScripts` to `useAdoptShellScripts`
3. update document, comm

[2022-10-06 07:09] zdtsw commented on #397
@andrew-m-leonard
job https://ci.adoptopenjdk.net/view/ReproducibleBuild/job/reproducible_comparision is result from #301
from run result https://ci.adoptopenjdk.net/view/ReproducibleBuild/job/reproducible_comparision/2/console , expect it shows these two tar file of linux x64 are identical (same scm_ref from jdk17, same build_ref from temurin-build, can check detail sbom.json from GH release arti

[2022-10-06 07:15] zdtsw commented on #397
ah, I might know the reason. the build has `--with-source-data=updated`.

[2022-10-06 07:51] zdtsw commented on #397
https://ci.adoptopenjdk.net/view/ReproducibleBuild/job/reproducible_comparision/5/console is from two tar files both from weekly-build and same scm_ref
[code]

Think  we need to exclude `release` file in comparison and check why the other two are different

[2022-10-06 07:58] zdtsw opened #435 "Exclude "classes_nocoops.jsa" file from tar-ball when doing reproducible comparison"
**What are you trying to do?**
https://ci.adoptopenjdk.net/view/ReproducibleBuild/job/reproducible_comparision/ job when doing comparison with "diff" command should exclude "release" file which has build version info. etc are not identical
update: classes_nocoops.jsa is known non-deterministic issue at the moment. so it should be in the exclude list too.

**Expected behaviour:**
comparison job sho

[2022-10-06 08:58] andrew-m-leonard commented on #397
@zdtsw classes_nocoops.jsa is a known non-deterministic issue at the moment.

[2022-10-06 09:00] zdtsw commented on #397
:+1: then it should be in the exclude list as the "release" one

[2022-10-06 12:45] zdtsw commented on #397
should be classes.jsa be the same case as classes_nocoops.jsa?

[2022-10-06 13:09] andrew-m-leonard commented on #397
So classes.jsa should be determinstic, so it's probably different because of some other difference, what are all your differences?

[2022-10-06 13:10] andrew-m-leonard commented on #397
what is difference in release file?

[2022-10-06 13:39] andrew-m-leonard commented on #397
@zdtsw so the JAVA_VERSION_DATE is always set to the release date, so that's fine
The above was built with different temurin-build SHAs, try with same

[2022-10-06 14:27] zdtsw commented on #397
Ok I see. the "future date" is pre-set for the next CPU release date. that makes sense.

not really sure how could these two ended with 8 and 7 bits of SHA1
first: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk17u/job/jdk17u-linux-x64-temurin/153/consoleFull
`"buildRef": "https://github.com/adoptium/temurin-build/commit/8e043e36",`
second: https://ci.adoptopenjdk.net/job/build-scri

[2022-10-09 11:34] Pip7747 commented on #33
Hi Davis, I would like to assign, thanks.

[2022-10-10 09:24] zdtsw opened #438 "Add support to use AQA_REF check when out testJobTemplate to run smoketests"
Similar to https://github.com/adoptium/ci-jenkins-pipelines/issues/417
we should use tag/SHA1 when checkout content from  aqa-tests instead of hardcode "master" since we already passin `AQA_REF` from build

https://github.com/adoptium/ci-jenkins-pipelines/blob/master/pipelines/build/common/openjdk_build_pipeline.groovy#L292

[2022-10-10 09:30] zdtsw opened #439 "Investigate if we can use jenkins-helpers' methods to replace some duplicated code in ci-jenkins-pipelines"
some lines might worthy checking:
https://github.com/adoptium/ci-jenkins-pipelines/blob/master/pipelines/build/common/openjdk_build_pipeline.groovy#L1065
https://github.com/adoptium/ci-jenkins-pipelines/blob/master/pipelines/build/common/config_regeneration.groovy#L569

[2022-10-10 10:08] sakshi1215 commented on #433
Hi @zdtsw, I am potential outreachy candidate can you assignt this issue to me?

[2022-10-10 10:17] andrew-m-leonard commented on #50
@AdamBrousseau is this relevant any more? thanks

[2022-10-10 11:56] sakshi1215 commented on #435
Hi @zdtsw Can you please assign me this issue?

[2022-10-11 06:52] cornelia247 commented on #50
@AdamBrousseau @smlambert  can this be assigned to me?

[2022-10-11 07:17] andrew-m-leonard commented on #50
@cornelia247 Currently waiting for @AdamBrousseau feedback as to whether this is actually required?

[2022-10-11 14:12] adamfarley opened #442 "Typo: feature_request.md is unclear and needs rewording."
[feature_request.md](https://github.com/adoptium/ci-jenkins-pipelines/blob/master/.github/ISSUE_TEMPLATE/feature_request.md) currently reads:

[code]

The wording here is unclear, for these reasons:
- it doesn't explain what "made" means
- "what enhancement" is bad grammer
- the rest of the last sentence is similarly non-ideal.

Proposal: Replace "made" with "proposed/discussed", and "what enhance

[2022-10-11 14:26] adamfarley commented on #442
Sure.

[2022-10-11 14:31] adamfarley opened #443 "Old Links: feature_request.md and not-sure-where-to-raise-an-issue.md need their links updating"
Regarding [feature_request.md](https://github.com/adoptium/ci-jenkins-pipelines/blob/master/.github/ISSUE_TEMPLATE/feature_request.md) and [not-sure-where-to-raise-an-issue.md](https://github.com/adoptium/ci-jenkins-pipelines/blob/master/.github/ISSUE_TEMPLATE/not-sure-where-to-raise-an-issue.md), both of these have links to the AdoptOpenJDK/TSC repository, which has been superseded by adoptium/ad

[2022-10-11 14:41] adamfarley opened #445 "Typo: buildbreak.md is missing a question mark"
For consistency, please add a question mark to the end of this line, before the full colon:

https://github.com/adoptium/ci-jenkins-pipelines/blob/730ebd7c20b470f7c3f2f6eddd3620865349318b/.github/ISSUE_TEMPLATE/buildbreak.md?plain=1#L10

[2022-10-11 14:42] sakshi1215 commented on #439
@zdtsw I would like to take stab at this, can you please assign this to me?

[2022-10-11 15:40] adamfarley opened #447 "Broken Link: ARCHITECTURE.md needs three link updates"
ARCHITECTURE.md contains a set of URLs that begin "https://github.com/adoptium/temurin-build/tree/master", or the same URL with the word "blob" in place of "tree". As you can see, no resources exist at any of those three URLs.

Recommend updating the three URLs to point to the current locations for each of those resources. It's the same URL in each case, except "https://github.com/adoptium/temurin

[2022-10-11 15:46] sakshi1215 commented on #447
@adamfarley Can you please assign this to me?

[2022-10-11 15:54] adamfarley opened #448 "Typo: ARCHITECTURE.md has three points for improvement"
ARCHITECTURE.md needs the word "Indiviual" changing to "Individual".

Also, the final close-parenthesis should be followed by a full stop for consistency.

Also also, the "This" under Individual Build Jobs should be "These".

[2022-10-11 16:05] adamfarley opened #449 "Enhancement: Make ARCHITECTURE.md easier to read"
The sections for "Regenerate Jobs" and "Pipeline Jobs" have run-on sentences that tie my brain in knots.

e.g. "These are the initial scripts that are the top level jobs that are invoked, etc etc"

I propose we break the sentences down into smaller sentences which are clearer.

e.g. "These are the initial scripts that are the top level jobs that are invoked," could be "These are the first scripts

[2022-10-11 16:06] adamfarley commented on #447
Sure. Have fun. :)

[2022-10-11 16:26] adamfarley opened #450 "Typo: diagram.md contains a single typo"
"build all pass" should be "builds all pass".

[2022-10-11 16:45] adamfarley opened #451 "Broken Links: UsingOurScripts.md has many broken "pipelines" links"
Inside UsingOurScripts.md, there are a great many links with relative paths, e.g. [here](pipelines/defaults.json).

However, because UsingOurScripts.md is inside the docs folder, that link ends up trying to take the user [here](https://github.com/adoptium/ci-jenkins-pipelines/blob/master/docs/pipelines/defaults.json), which doesn't exist.

In short, please go through UsingOurScripts.md and add "..

[2022-10-11 16:50] adamfarley opened #452 "Typo: UsingOurScripts.md has a single typo"
"occuring" should be spelt "occurring". Please correct.

[2022-10-11 16:51] lumuchris256 commented on #445
@smlambert @adamfarley i would like to take up this issue

[2022-10-11 16:55] adamfarley commented on #445
Have fun :)

[2022-10-11 17:06] lumuchris256 commented on #443
@adamfarley i would want to take this up

[2022-10-11 17:11] adamfarley opened #454 "Typo: the prTester readme has one typo"
pipelines/build/prTester/README.md says "Simiar" when it should say "Similar". Please fix.

[2022-10-11 17:30] adamfarley commented on #443
Have fun :)

[2022-10-11 18:40] AdamBrousseau commented on #50
I'm not sure if this is still relevant. We've worked around the hardcoded label by adding an `if` condition in our fork of the code. Adopt has since removed the code in question and revamped how they do linux installers.
Here is what we did to avoid the hardcode
https://github.com/ibmruntimes/ci-jenkins-pipelines/blob/ibm/pipelines/build/common/openjdk_build_pipeline.groovy#L656-L660
[code]

[2022-10-11 19:57] AyBims commented on #454
Hello, can I be assigned to this

[2022-10-11 20:00] AyBims commented on #448
@smlambert @adamfarley can I be assigned to this issue

[2022-10-11 21:05] BarbaraStanley commented on #443
Please can I be assigned to this?

[2022-10-12 07:34] lumuchris256 commented on #443
hi @BarbaraStanley
i am working on this issue pushing a PR soonest

[2022-10-12 07:42] lumuchris256 commented on #449
hi @adamfarley i can take this up, as i wait on scot to be back for my other issue am tackling

[2022-10-12 08:14] zdtsw opened #457 "remote trigger job did not pass down aqaReference"
**What are you trying to do?**
Seems the job to be remote triggered by openjdkX-pipeline did not get set `ADOPTOPENJDK_BRACNH` correctly

**Expected behaviour:**

**Observed behaviour:**
https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk19-pipeline/217/consoleFull set `15:12:48  AQA tests Release/Branch name: v0.9.4-release`
but https://ci.eclipse.org/temurin-compliance/job/AQA_Test_Pipelin

[2022-10-12 10:02] lumuchris256 commented on #452
hi @adamfarley i have fixed a PR for this

[2022-10-12 11:07] andrew-m-leonard commented on #50
Thanks @AdamBrousseau

[2022-10-12 11:07] #50 closed

[2022-10-12 11:12] adamfarley commented on #454
Sure @AyBims

[2022-10-12 11:18] lumuchris256 commented on #451
hi @adamfarley  i would want to fix this

[2022-10-12 11:20] adamfarley commented on #452
Sure @lumuchris256

[2022-10-12 11:26] adamfarley commented on #451
Sure @lumuchris256

[2022-10-12 12:15] #445 closed

[2022-10-12 12:15] #452 closed

[2022-10-12 12:59] zdtsw commented on #457
close issue with reason "chosen to use master branch because we may have needed to push a change to the framework that we needed in reaction to changes"
so this is by design to not use aqaReference to run jobs in release test jenkins

[2022-10-12 12:59] #457 closed

[2022-10-12 13:30] #451 closed

[2022-10-12 16:26] cornelia247 commented on #450
please assign this to me @adamfarley

[2022-10-12 17:01] adamfarley commented on #450
Okie dokie

[2022-10-12 19:23] cornelia247 commented on #450
please merge https://github.com/FNNDSC/ChRIS_ultron_backEnd/pull/438

[2022-10-12 19:24] cornelia247 commented on #450
please merge https://github.com/adoptium/ci-jenkins-pipelines/pull/463

[2022-10-12 20:08] smlambert commented on #457
It is just currently not a requirement.

aqaReference matters for AQAvit test suite as it helps pin to specific test material outlined in testenv.properties files in the release branch for the public test material we use.

For TCK material, we use the test material that is downloaded from the partner site and there is one choice for us (the latest material downloaded by the EF infra team), so ther

[2022-10-12 21:57] #435 closed

[2022-10-13 08:02] cornelia247 commented on #51
@andrew-m-leonard I am interested in this issue can it be assigned to me?

[2022-10-13 09:21] andrew-m-leonard commented on #51
Thanks @cornelia247 , i've assigned it to you.

[2022-10-13 11:15] #450 closed

[2022-10-13 11:20] #443 closed

[2022-10-13 12:22] adamfarley opened #465 "Broken Links: The regeneration README.md has many broken links"
Inside pipelines/build/regeneration/README.md, the links that begin with "pipelines" are all trying to send the user to a relative location that does not exist.

Please add a forward slash before every link location that starts with "pipelines", as that will result in links that are relative to the root of the repository, rather than the README's location.

[2022-10-13 12:28] adamfarley opened #466 "Typo: CONTRIBUTING.md needs a space added"
"shellscript" is a typo. A space should be added to change this to "shell script".

[2022-10-13 16:36] cornelia247 commented on #466
can I be assigned to this?

[2022-10-13 16:37] cornelia247 commented on #465
can I be assigned to this?

[2022-10-13 20:19] #466 closed

[2022-10-14 10:27] andrew-m-leonard opened #473 "Introduce a new "prototype" pipeline for new potential platforms to initially run in"
New platforms that are not candidates for release need time to bed in and prove their stability. We should introduce a new "prototype" (or suitably named) pipeline that is perhaps run once a week for such platforms.

[2022-10-14 10:58] #449 closed

[2022-10-14 12:43] #465 closed

[2022-10-14 14:44] andrew-m-leonard commented on #473
hi @cornelia247 , this item is quite extensive, but we will not be implementing it until after the October release, so into November. Also, this requires certain Admin access for some of the updates/testing.

[2022-10-14 18:37] #156 closed

[2022-10-16 09:51] zdtsw opened #477 "Propose: change nightly weekly build scheduler"
To have a better scheduling of nightly and weekly build for different jdk:s, propose to modify trigger timer:
(jdk20 is the head at the moment jdk19 is non-LTS release)

**what we have now**
| time  | Mon | Tue | Wed| Thu |  Fri | Sat | Sun|
| -----   | -----  | ----- | ----- | ----- | ----- |----- | ----- |
|01:30 |         |        |        |        |        |W20|        |
|03:30 |         |N19

[2022-11-02 18:41] AdamBrousseau opened #489 "Discussion: Parameter testDetails:nightlyDefault & weeklyDefault should take precedent over groovy config file"
**What are you trying to do?**
If we launch a build with a custom list of test buckets, specs that have a hardcoded list in the groovy config file (eg jdk11u_pipeline_config.groovy), ie. ones that are not set as `test : 'default'`, the build ends up testing the hardcoded list rather than the one in the build param. For ex, if we want a build that launches 1 target on all platforms, the specs with

[2022-11-02 18:42] AdamBrousseau commented on #489
cc @llxia

[2022-11-08 07:38] #442 closed

[2022-11-08 09:31] zdtsw commented on #473
I think Loongson could be a good candidate for this issue.

[2022-11-09 08:45] zdtsw opened #490 "Discussion: Access permission to download artifacts from openjdkX-pipeline"
For permission in Jenkins [ci.adoptium.net](https://ci.adoptopenjdk.net/), any reason we have build jobs with public open access but not the others.

e.g https://ci.adoptopenjdk.net/job/build-scripts/job/weekly-openjdk19-pipeline/lastSuccessfulBuild/artifact/workspace/ is accessible even I do not login
e.g https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-aix-ppc64-hotsp

[2022-11-09 10:47] zdtsw commented on #397
One problem is, we only produce reproducible build from
1) weekly build
2) official release.

And we only keep 2 batches of artifacts from weekly and we do not publish weekly build result to binary repo for longer time.

So the chance to get two URL’s that I can download and get a positive result is, e.g I build release on 18th Oct, then I wait till 23/24th Oct to get one from weekly (assume nobod

[2022-11-09 19:26] smlambert commented on #490
Shouldn't the reproducible build comparison job use the temurin bot credentials (eclipse_temurin_bot_email_and_token) to access the necessary artifacts wherever they are?  Using that will remove the limited access.

Some JDK binaries (nightlies/EA) are produced with "this is Beta" written all over it, which means it is publicly accessible and not to be mistaken with a binary that is under-going ex

[2022-11-14 11:17] zdtsw opened #494 "Create dedicated openjdk pipeline for release use"
To make release easier with less human input error, we can create new pipelines which only used for release purpose.
And with permission that only team members can access it.

It is something similar to the currently openjdkX-pipeline but more customized for release.
And the history of builds should all be kept for a clean track.

Input from https://github.com/adoptium/temurin-build/blob/master/RE

[2022-11-14 11:31] zdtsw opened #495 "Discussion: naming convention for ciReference"
We should define what the git tag should be formed when we set it on [the](https://github.com/adoptium/ci-jenkins-pipelines) and used in the official release for input ciReference

Since they will be used for reproducible build, unless we decided to use SHA instead of tag in the build, we should never move tags around. create new one if needed

Suggestion:` v<YY>.<MM>.01`
e.g for 2022 Oct CPU rele

[2022-11-14 17:45] #419 closed

[2022-11-15 12:55] sxa opened #497 "Attempting to build from an openjdk branch no longer works"
**What are you trying to do?** Build from a branch of hotspot in order to test a fix: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk/job/jdk-aix-ppc64-hotspot/638/console

**Expected behaviour:** VARIANT=hotspot with `-r` and `-b` settings for `BUILD_ARGS` work properly as per [the FAQ](https://github.com/adoptium/ci-jenkins-pipelines/blob/master/FAQ.md#i-want-to-build-code-from-my

[2022-11-15 13:07] zdtsw commented on #497
looks like the job is missing HELPER_REF BUILD_REF and CI_REF

from https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk/job/jdk-aix-ppc64-hotspot/build?delay=0sec
![Screenshot from 2022-11-15 14-07-01](https://user-images.githubusercontent.com/915053/201927181-c4c74650-5680-4a07-80d3-d1fc1eda61fb.png)

compare with https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk/job/jdk-a

[2022-11-15 13:09] zdtsw commented on #497
and this [job](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk/job/jdk-aix-ppc64-hotspot/build?delay=0sec) is not generated by https://ci.adoptopenjdk.net/job/build-scripts/job/utils/job/pipeline_jobs_generator_jdk/ ?

[2022-11-15 15:03] andrew-m-leonard commented on #497
@sxa @zdtsw  The above is a "hotspot" build not a "temurin" one, the change only changed the "temurin" template I suspect

[2022-11-15 15:06] andrew-m-leonard commented on #497
temurin is the only jdk-20 target configuration: https://github.com/adoptium/ci-jenkins-pipelines/blob/5d694972320e48bb3f5e12fbacef496f55ef5617/pipelines/jobs/configurations/jdk20.groovy#L17

[2022-11-16 13:49] jiekang opened #498 "Add check of release tags during pipeline and abort if incorrect"
For release: the pipeline should include a check that ensures the `scmReference`  are correct set in the `testenv.properties` in aqa-tests repo and abort pipeline if they're not.

example PR for updating aqa-tests release branch in  2022 Oct release https://github.com/adoptium/aqa-tests/pull/4065

This mitigates human error as the `scmReference` aren't known until the release and this needs to be

[2022-11-16 20:05] sophia-guo opened #499 "Update the remote trigger jck tests jobs per platforms"
Currently AQA_Test_Pipeline job in Eclipse Temurin is remotely triggered by pipeline job when all platforms jdks are available. And then AQA_Test_Pipeline job will trigger all test jobs with all available jdks. It means all jck jobs can only be triggered when all platforms jdks are available. If some platform builds are slow then all tck jobs have to wait.

To run the jck test jobs ASAP we'd like

[2022-11-17 10:32] zdtsw commented on #499
preferably, [calling logic of remote trigger ](https://github.com/adoptium/ci-jenkins-pipelines/blob/eb6797c0c9d335830e5fa2268467f0e30c1f20a5/pipelines/build/common/build_base_file.groovy#L736)should be  right after [archive](https://github.com/adoptium/ci-jenkins-pipelines/blob/eb6797c0c9d335830e5fa2268467f0e30c1f20a5/pipelines/build/common/build_base_file.groovy#L844) is done by each downstream

[2022-11-17 16:28] sophia-guo commented on #499
So two options

1. right after [archive](https://github.com/adoptium/ci-jenkins-pipelines/blob/eb6797c0c9d335830e5fa2268467f0e30c1f20a5/pipelines/build/common/build_base_file.groovy#L844) , which will not wait for other platforms, but will wait until smoke and aqa-tests job finish. The pro is the sdk url will be the final one and will not be unavailable. The con is have to wait until smoke and aqa

[2022-11-17 16:31] zdtsw commented on #499
Think we should go for option 2.
Usually the AQA test for weekly/release can take longer than nightly and we do not want to wait for these hours.

[2022-11-17 18:00] smlambert opened #501 "Add dev level testing to weekly pipelines"
We have recently added new tests into the AQAvit project, into the 'dev' level to be able to monitor how they do and allow vendors to trial them, monitor and determine whether to promote them into the set of required AQAvit verification targets.

Since we currently do not launch this level, we should add them into the weekly runs.

**This poses an interesting problem.**  We want to run them weekly

[2022-11-21 09:34] zdtsw commented on #473
weekly build for jdk11 has bisheng corretto and dragonwell, this prevents archive temurin.
We should consider moving these 3 variants into "prototype"

[2022-11-21 11:33] zdtsw commented on #473
^ this is also on jdk17 https://ci.adoptopenjdk.net/job/build-scripts/job/weekly-openjdk17-pipeline/: bisheng and openj9

[2022-11-21 11:41] zdtsw opened #504 "Feature: add 2nd build in nightly build so we can compare if 1st and 2nd are the same outcome"
For comparison job to work, we need two input builds.
~~What we have now is the [weekly build ](https://ci.adoptopenjdk.net/job/build-scripts/job/weekly-openjdk19-pipeline/)generates "release" type build which should work with reproducible if it is jdk17+~~

[ To make things simple, we start with jdk19, since jdk17 and 20 both running more than variant "temurin" so we should try to get other varia

[2022-11-21 15:27] zdtsw opened #506 "pr-test job is not working correctly: should only trigger test downstream job"
**What are you trying to do?**
PR test openjdk pipeline should only trigger its own test jdk downstream job
but it is now triggering jdk11 official job

**Any other comments:**
log:

https://ci.adoptopenjdk.net/job/build-scripts-pr-tester/job/build-test/job/openjdk19-pipeline/89/console
https://ci.adoptopenjdk.net/job/build-scripts-pr-tester/job/build-test/job/openjdk8-pipeline/956/console

slack:

[2022-11-21 15:42] zdtsw commented on #506
1. `ciReference` in pr-test openjdk pipeline (e.g https://ci.adoptopenjdk.net/job/build-scripts-pr-tester/job/build-test/job/openjdk8-pipeline/956/parameters/)  should set the SHA from the [openjdk-build-pr-tester](https://ci.adoptopenjdk.net/job/build-scripts-pr-tester/job/openjdk-build-pr-tester/)'s `ghprbActualCommit`
leave empty for buildReference so should checkout master from temurin-build a

[2022-11-21 16:01] zdtsw commented on #506
ok, so it is not a bug in ci-pipeline

the problem was when https://ci.adoptopenjdk.net/job/build-scripts-pr-tester/job/openjdk-build-pr-tester/1769/ was triggered, it checkout code pointed to https://github.com/sophia-guo/ci-jenkins-pipelines/blob/ec0e10a65cdc09caf52bc77c294f1782b15a333f/pipelines/build/common/build_base_file.groovy which had a hardcoded https://github.com/sophia-guo/ci-jenkins-p

[2022-11-21 16:01] zdtsw commented on #506
I will create an feature issue on this, instead of fix it as a bug

[2022-11-21 16:01] #506 closed

[2022-11-21 16:10] zdtsw opened #507 "Feature: passing down correct SHA for pr-test jobs"
So, this probably should be done long time ago, but was missed.
When we run test for PR (https://ci.adoptopenjdk.net/job/build-scripts-pr-tester/job/openjdk-build-pr-tester/) only set SHA as `ghprbActualCommit` in this pipeline generator job, but the downstream e.g build-scripts-pr-tester/build-test/openjdk8-pipeline not get this value, so by default "", it will checkout ci-jenkins-pipeline's mast

[2022-11-22 00:13] smlambert opened #508 "x86-64_alpine-linux test jobs fail due to DETECTED_JDK_VERSION mismatch from available artifact"
**What are you trying to do?**
Trying to launch jdk8 x64 alpine-linux testing.

**Expected behaviour:**
Expect to be able to successfully launch test pipelines as part of the build pipeline.

**Observed behaviour:**
https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_sanity.functional_x86-64_alpine-linux/99/
https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.functional_x86-64_alpine-linux/99/

[2022-11-22 00:33] smlambert opened #509 "jdk8 s390x Temurin test jobs fail on test-marist-ubuntu2004-s390x-1 and test-marist-ubuntu2204-s390x-1"
**What are you trying to do?**
Run smoke tests and sanity.openjdk tests against jdk8 s390x Temurin build (even though we do not release this version as it does not have a JIT).

**Expected behaviour:**
That we would be able to run smoke tests and sanity.openjdk tests.

**Observed behaviour:**
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-s390x-temurin_SmokeTests/

[2022-11-22 15:45] #499 closed

[2022-11-22 22:01] #498 closed

[2022-11-23 09:41] zdtsw commented on #507
so to capture the problem:
e.g user make a change in the pipelines/build/common/kick_off_build.groovy file
the generated downstream build job still uses kick_off_build.groovy from master in pr-test

[2022-11-23 09:49] zdtsw commented on #507
to only update `ciReference` is not enough, due to the commit `ghprbActualCommit` is only in $user/ci-jenkins-pipeline (a.k.a `ghprbAuthorRepoGitUrl` ) but not `adoptium/ci-jenkins-pipeline`, so when in `build_base_file.groovy` try to checkout from` jenkins-helper` `repoHandler.checkoutUserPipelines(context)` wont work ( the build-tag solution for release works because we only use adoptium/ci-jenk

[2022-11-23 12:52] #501 closed

[2022-11-23 13:10] zdtsw commented on #507
there is another catch (even this does not happen so often):
if any PR change is done in pipeline/build/prTester/kick_off_tester.groovy, then need admin to update https://ci.adoptopenjdk.net/job/build-scripts-pr-tester/job/openjdk-build-pr-tester/configure to modify value `Repository URL `and `Branches to build` to point to this PR's change. otherwise it changes in the file wont be pulled

[2022-11-23 13:29] smlambert opened #512 "Send dev.openjdk tests to nodes with sw.tool.docker label appended"
Just like the external tests, the dev.openjdk set of tests need to run on machines that have docker installed (and not get sent to machines that are actually containers).  In order to achieve this, we can use the LABEL_ADDITION parameter to append sw.tool.docker label for that top-level test target.

[2022-11-24 08:14] zdtsw commented on #490
close this issue:
- original problem to download artifacts from openjdkX-pipeline for comparison job has been resolved by using token
- currently we will not proceed with uploading artifacts from weekly builds into binary repo due to legal issues.

[2022-11-24 08:14] #490 closed

[2022-11-24 09:30] zdtsw commented on #433
@sakshi1215 do you want to finalize this issue?

[2022-11-24 09:34] #448 closed

[2022-11-24 10:25] adamfarley commented on #448
Thanks :)

[2022-11-24 14:19] andrew-m-leonard opened #514 "Support generation of "release" pipeline and build jobs for "release build Tag" support"
The new "build ref tag" support for releases needs an extension to the generation build job to support generating a "Release" pipeline and build jobs based off the given "build-ref's" (temurin-build, ci-jenkins-pipeline, helper). So you would manually run the generation jobs with an option "Build-ref tag: xxx". Which then generates, eg:

- release-openjdk17-pipeline
- release-jobs/jdk17u/jdk17u-ai

[2022-11-24 14:58] zdtsw commented on #495
@andrew-m-leonard @smlambert @sxa @karianna any thoughts on this?

[2022-11-24 15:14] #512 closed

[2022-11-24 18:54] Pip7747 commented on #33
Hi WenZhouNo worries, please unassign me, recently working  on a another project so haven’t get much time on this one.Sorry about it, appreciate.Regards Liz ------------------ Original ------------------From: Wen Zhou  ***@***.***>Date: Thu, Nov 24, 2022 7:38 PMTo: adoptium/ci-jenkins-pipelines ***@***.***>Cc: Liz77 ***@***.***>, Mention ***@***.***>Subject: Re: [adoptium/ci-jenkins-pipelines] NOD

[2022-11-24 19:57] andrew-m-leonard commented on #495
Maybe really spell the tag out a bit more for CPU releases? I like it when it is clear what the numbers means, eg:
BuildScripts_2022.Oct_CPU
BuildScripts_2022.Oct_CPU.01

[2022-11-24 21:07] sophia-guo commented on #508
That's interesting.
smoke test and sanity.openjdk passed without this issue.

https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_sanity.openjdk_x86-64_alpine-linux/108/console
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-alpine-linux-x64-temurin_SmokeTests/98/

[code]

Build job was triggered by weekly pipeline. The suspected jdk is archived https://ci.adoptopenjdk.net/

[2022-11-25 10:34] zdtsw commented on #494
detail see https://github.com/adoptium/ci-jenkins-pipelines/issues/514

[2022-11-25 15:33] zdtsw opened #516 "Upgrade: gradle"
To consider upgrade gradle to newer version than 6.5

[2022-11-26 06:11] #507 closed

[2022-11-30 19:41] andrew-m-leonard opened #521 "remoteTriggerJckTests for jdk19+ AIX needs to use LABEL=aix72"
AIX on jdk19+ jck needs to be built on AIX7.2, so the remoteTriggerJckTests needs to target that LABEL.

[2022-11-30 20:15] smlambert commented on #521
For test labels, I would like to introduce labels that follow a labelling schema, so that over the course of years, we do not descend into chaos.  While this is not properly documented anywhere, this is the issue and a branch that discusses why.

https://github.com/adoptium/infrastructure/issues/93 and https://github.com/smlambert/openjdk-infrastructure/blob/labels/docs/jenkinslabels.md

My reques

[2022-11-30 20:35] andrew-m-leonard commented on #521
Ref EF issue: https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/2337

[2022-11-30 20:39] smlambert commented on #521
We may be able to create a PR for this ourselves,
https://github.com/eclipse-cbi/jiro/blob/master/instances/adoptium.temurin-compliance/jenkins/configuration.yml#L405

[2022-11-30 20:40] smlambert commented on #521
Looking at that yml, does it mean we have 2 machines that are aix7.1 ? that we will not use for automated tests?  Or is it a subset of the automated tests that need to be sent to aix7.2 ?

[2022-11-30 20:45] andrew-m-leonard commented on #521
The AIX 7.1 & 7.2 nodes can be used for jck8-17. Jck 19+ needs 7.2, ref: https://github.com/adoptium/temurin-build/issues/2957